Repository hyrise/Cockpit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Alexander-Dubrawski, @caterinamandel98, @cH3n7i, @fabianhe, @kathwill, @MaxSchneider1337, @monasobh, @PeterTsayun, @schTi

remove unused type ignore
  tests/api/test_socket_manager.py
Owners: @Alexander-Dubrawski, @caterinamandel98, @cH3n7i, @fabianhe, @PeterTsayun

resolve tils issues
  hyrisecockpit/frontend/src/components/databases/SQLEditor.vue
  hyrisecockpit/frontend/src/components/databases/SQLResultTable.vue
Owners: @kathwill, @MaxSchneider1337, @monasobh, @schTi

F/443 sql input field (#559)
  hyrisecockpit/frontend/src/components/databases/AvailableDatabasesList.vue
  hyrisecockpit/frontend/src/components/databases/SQLEditor.vue
  hyrisecockpit/frontend/src/components/databases/SQLResultTable.vue
  hyrisecockpit/frontend/src/services/databaseService.ts
  hyrisecockpit/frontend/src/types/database.ts
Owners: @kathwill, @MaxSchneider1337, @monasobh, @schTi

Adjust calsulation of the interval limits
  hyrisecockpit/api/app/monitor/app.py
Owners: @Alexander-Dubrawski, @caterinamandel98, @cH3n7i, @fabianhe, @PeterTsayun

Adjust system tests
  system_tests/cockpit_backend.py
  system_tests/test_system.py
Owners: @Alexander-Dubrawski, @caterinamandel98, @cH3n7i, @fabianhe, @kathwill, @MaxSchneider1337, @monasobh, @PeterTsayun, @schTi

Remove unnessasery package
  Pipfile
  Pipfile.lock
Owners: @caterinamandel98, @cH3n7i, @fabianhe

Add test gets interval limits
  tests/api/monitor/__init__.py
  tests/api/monitor/test_monitor.py
Owners: @Alexander-Dubrawski, @caterinamandel98, @cH3n7i, @fabianhe, @PeterTsayun

Add test fills missing points
  tests/api/monitor/test_monitor.py
Owners: @Alexander-Dubrawski, @caterinamandel98, @cH3n7i, @fabianhe, @PeterTsayun

Add test gets historical metric
  tests/api/monitor/test_monitor.py
Owners: @Alexander-Dubrawski, @caterinamandel98, @cH3n7i, @fabianhe, @PeterTsayun

simplify historic tests
  hyrisecockpit/frontend/tests/e2e/setup/helpers.ts
  hyrisecockpit/frontend/tests/e2e/specs/helpers.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/helpers.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/historicalData.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/views/helpers.ts
Owners: @kathwill, @MaxSchneider1337, @monasobh, @schTi

Add testgets historical data
  tests/api/monitor/test_monitor.py
Owners: @Alexander-Dubrawski, @caterinamandel98, @cH3n7i, @fabianhe, @PeterTsayun

Adjust hooks
  tests/api/test_socket_manager.py
  utils/endpoint_benchmark/plugins.py
Owners: @Alexander-Dubrawski, @caterinamandel98, @cH3n7i, @fabianhe, @PeterTsayun

add clean up
  hyrisecockpit/frontend/devServer/src/server.ts
  hyrisecockpit/frontend/tests/e2e/specs/databases/addDatabase.spec.ts
  hyrisecockpit/frontend/tests/e2e/support/commands.js
  hyrisecockpit/frontend/tests/e2e/support/index.d.ts
Owners: @kathwill, @MaxSchneider1337, @monasobh, @schTi

fix database tests
  hyrisecockpit/frontend/devServer/src/server.ts
  hyrisecockpit/frontend/tests/e2e/setup/backendMock.ts
  hyrisecockpit/frontend/tests/e2e/specs/databases/addDatabase.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/databases/databases.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/databases/removeDatabase.spec.ts
  hyrisecockpit/frontend/tests/e2e/support/commands.js
  hyrisecockpit/frontend/tests/e2e/support/index.d.ts
Owners: @kathwill, @MaxSchneider1337, @monasobh, @schTi

update tests
  hyrisecockpit/frontend/devServer/src/server.ts
  hyrisecockpit/frontend/tests/e2e/setup/backendMock.ts
  hyrisecockpit/frontend/tests/e2e/specs/databases/databases.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/plugins/changePlugins.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/workloadGeneration/workloadGeneration.spec.ts
Owners: @kathwill, @MaxSchneider1337, @monasobh, @schTi

fix tests
  hyrisecockpit/frontend/tests/e2e/specs/plugins/changePlugins.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/workloadMonitoring/queries.spec.ts
Owners: @kathwill, @MaxSchneider1337, @monasobh, @schTi

add ci script
  .github/workflows/frontend.yml
  hyrisecockpit/frontend/devServer/package.json
  hyrisecockpit/frontend/devServer/src/server.ts
  hyrisecockpit/frontend/package.json
Owners: @caterinamandel98, @cH3n7i, @fabianhe, @kathwill, @MaxSchneider1337, @monasobh, @schTi

fix db tests
  hyrisecockpit/frontend/tests/e2e/specs/databases/databases.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/databases/removeDatabase.spec.ts
Owners: @kathwill, @MaxSchneider1337, @monasobh, @schTi

lint
  hyrisecockpit/frontend/config.ts
  hyrisecockpit/frontend/devServer/package.json
  hyrisecockpit/frontend/package.json
Owners: @kathwill, @MaxSchneider1337, @monasobh, @schTi

simplify
  hyrisecockpit/frontend/tests/e2e/setup/backendMock.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/historicalData.spec.ts
Owners: @kathwill, @MaxSchneider1337, @monasobh, @schTi

Refactor sql namespace (#542)
  hyrisecockpit/api/app/control/app.py
  hyrisecockpit/api/app/exception.py
  hyrisecockpit/api/app/routes.py
  hyrisecockpit/api/app/sql/__init__.py
  hyrisecockpit/api/app/sql/controller.py
  hyrisecockpit/api/app/sql/interface.py
  hyrisecockpit/api/app/sql/model.py
  hyrisecockpit/api/app/sql/schema.py
  hyrisecockpit/api/app/sql/service.py
  tests/api/sql/test_controller.py
  tests/api/sql/test_interface.py
  tests/api/sql/test_model.py
  tests/api/sql/test_schema.py
  tests/api/sql/test_service.py
Owners: @Alexander-Dubrawski, @caterinamandel98, @cH3n7i, @fabianhe, @PeterTsayun

.github/CODEOWNERS:

# Where component owners are known, add them here.

# Team
* @Alexander-Dubrawski @caterinamandel98 @cH3n7i @fabianhe @kathwill @MaxSchneider1337 @monasobh @PeterTsayun @schTi

# Backend
# @Alexander-Dubrawski @caterinamandel98 @cH3n7i @fabianhe @PeterTsayun
/hyrisecockpit/ @Alexander-Dubrawski @caterinamandel98 @cH3n7i @fabianhe @PeterTsayun
/tests/ @Alexander-Dubrawski @caterinamandel98 @cH3n7i @fabianhe @PeterTsayun
/utils/ @Alexander-Dubrawski @caterinamandel98 @cH3n7i @fabianhe @PeterTsayun

# Frontend
# @kathwill @MaxSchneider1337 @monasobh @schTi
/hyrisecockpit/frontend/ @kathwill @MaxSchneider1337 @monasobh @schTi

# DevOps
# @caterinamandel98 @cH3n7i @fabianhe
/* @caterinamandel98 @cH3n7i @fabianhe
/.github/ @caterinamandel98 @cH3n7i @fabianhe
/docker/ @caterinamandel98 @cH3n7i @fabianhe
/hyrise/ @caterinamandel98 @cH3n7i @fabianhe
**/**/Dockerfile @caterinamandel98 @cH3n7i @fabianhe
