Repository hyrise/Cockpit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Alexander-Dubrawski, @caterinamandel98, @cH3n7i, @fabianhe, @kathwill, @MaxSchneider1337, @monasobh, @PeterTsayun, @schTi

.github/CODEOWNERS:

# Where component owners are known, add them here.

# Team
* @Alexander-Dubrawski @caterinamandel98 @cH3n7i @fabianhe @kathwill @MaxSchneider1337 @monasobh @PeterTsayun @schTi

# DevOps
# @caterinamandel98 @cH3n7i @fabianhe
/* @caterinamandel98 @cH3n7i @fabianhe
/.github/ @caterinamandel98 @cH3n7i @fabianhe
/docker/ @caterinamandel98 @cH3n7i @fabianhe
/docker-compose.yml  @caterinamandel98 @cH3n7i @fabianhe
/hyrise/ @caterinamandel98 @cH3n7i @fabianhe
/hyrisecockpit/api/Dockerfile @caterinamandel98 @cH3n7i @fabianhe
/hyrisecockpit/database_manager/Dockerfile @caterinamandel98 @cH3n7i @fabianhe
/hyrisecockpit/workload_generator/Dockerfile @caterinamandel98 @cH3n7i @fabianhe
/hyrisecockpit/frontend/Dockerfile @caterinamandel98 @cH3n7i @fabianhe

# Backend
# @Alexander-Dubrawski @caterinamandel98 @cH3n7i @fabianhe @PeterTsayun
/hyrisecockpit/ @Alexander-Dubrawski @caterinamandel98 @cH3n7i @fabianhe @PeterTsayun
/tests/ @Alexander-Dubrawski @caterinamandel98 @cH3n7i @fabianhe @PeterTsayun
/utils/ @Alexander-Dubrawski @caterinamandel98 @cH3n7i @fabianhe @PeterTsayun

# Frontend
# @kathwill @MaxSchneider1337 @monasobh @schTi
/hyrisecockpit/frontend/ @kathwill @MaxSchneider1337 @monasobh @schTi

Update hyrisecockpit/database_manager/background_scheduler.py
  hyrisecockpit/database_manager/background_scheduler.py
Owners: @Alexander-Dubrawski, @caterinamandel98, @cH3n7i, @fabianhe, @PeterTsayun

Update tests/database_manager/test_cursor.py
  tests/database_manager/test_cursor.py
Owners: @Alexander-Dubrawski, @caterinamandel98, @cH3n7i, @fabianhe, @PeterTsayun

fix test
  tests/database_manager/test_cursor.py
Owners: @Alexander-Dubrawski, @caterinamandel98, @cH3n7i, @fabianhe, @PeterTsayun

Make frontend build more reliable and faster
  hyrisecockpit/frontend/Dockerfile
Owners: @kathwill, @MaxSchneider1337, @monasobh, @schTi

refactor use of params
  hyrisecockpit/database_manager/background_scheduler.py
  hyrisecockpit/database_manager/cursor.py
Owners: @Alexander-Dubrawski, @caterinamandel98, @cH3n7i, @fabianhe, @PeterTsayun

change column width
  hyrisecockpit/frontend/src/components/details/DatabaseSystemDetails.vue
Owners: @kathwill, @MaxSchneider1337, @monasobh, @schTi

run linter
  hyrisecockpit/frontend/src/components/details/DatabaseSystemDetails.vue
Owners: @kathwill, @MaxSchneider1337, @monasobh, @schTi

add warning when instance is blocked and improve disabling buttons
  hyrisecockpit/frontend/src/components/workload/WorkloadGeneration.vue
Owners: @kathwill, @MaxSchneider1337, @monasobh, @schTi

rename unselected-warning to warning
  hyrisecockpit/frontend/src/components/alerts/Warning.vue
  hyrisecockpit/frontend/src/components/workload/WorkloadGeneration.vue
  hyrisecockpit/frontend/src/views/InstanceComparison.vue
  hyrisecockpit/frontend/src/views/Overview.vue
  hyrisecockpit/frontend/src/views/WorkloadMonitoring.vue
Owners: @kathwill, @MaxSchneider1337, @monasobh, @schTi

B/remove connection pool and driver (#516)
  hyrisecockpit/database_manager/background_scheduler.py
  hyrisecockpit/database_manager/cursor.py
  hyrisecockpit/database_manager/database.py
  hyrisecockpit/database_manager/driver.py
  hyrisecockpit/database_manager/manager.py
  hyrisecockpit/database_manager/worker.py
  hyrisecockpit/database_manager/worker_pool.py
  tests/database_manager/test_background_scheduler.py
  tests/database_manager/test_cursor.py
  tests/database_manager/test_database.py
  tests/database_manager/test_database_manager.py
  tests/database_manager/test_worker_pool.py
Owners: @Alexander-Dubrawski, @caterinamandel98, @cH3n7i, @fabianhe, @PeterTsayun

Add mac osx support file.
  hyrisecockpit/cross_platform_support/mac_osx_support.py
Owners: @Alexander-Dubrawski, @caterinamandel98, @cH3n7i, @fabianhe, @PeterTsayun

Add support for background scheduler
  hyrisecockpit/database_manager/background_scheduler.py
Owners: @Alexander-Dubrawski, @caterinamandel98, @cH3n7i, @fabianhe, @PeterTsayun

Fix queue size
  hyrisecockpit/cross_platform_support/mac_osx_support.py
  hyrisecockpit/database_manager/worker_pool.py
Owners: @Alexander-Dubrawski, @caterinamandel98, @cH3n7i, @fabianhe, @PeterTsayun

Adjust test for mac
  tests/database_manager/test_background_scheduler.py
  tests/database_manager/test_worker_pool.py
Owners: @Alexander-Dubrawski, @caterinamandel98, @cH3n7i, @fabianhe, @PeterTsayun

Add wrapped magicMock
  hyrisecockpit/cross_platform_support/mac_osx_support.py
Owners: @Alexander-Dubrawski, @caterinamandel98, @cH3n7i, @fabianhe, @PeterTsayun

Add boot script
  utils/docker_developent_enviroment/boot_cockpit.py
Owners: @Alexander-Dubrawski, @caterinamandel98, @cH3n7i, @fabianhe, @PeterTsayun

Clean and Speed up
  docker-compose.yml
  hyrisecockpit/frontend/Dockerfile
Owners: @caterinamandel98, @cH3n7i, @fabianhe, @kathwill, @MaxSchneider1337, @monasobh, @schTi
