Repository hyrise/Cockpit, pull requests merged in 2020-04, with the labels that each got.

#455 Update min coverage
  .github/workflows/backend.yml
Labels: DevTools, Prio 2, backend, good first issue

#470 change frontend settings design (selection panel)
  hyrisecockpit/frontend/src/views/AppDrawer.vue
Labels: Prio 1, enhancement, frontend

#463 B/use continuous queries
  hyrisecockpit/backend/app.py
  hyrisecockpit/database_manager/cursor.py
  hyrisecockpit/database_manager/database.py
  tests/database_manager/test_database.py
Labels: backend, enhancement

#464 B/Log queue length values to InfluxDB
  hyrisecockpit/database_manager/background_scheduler.py
  hyrisecockpit/database_manager/database.py
  tests/database_manager/test_background_scheduler.py
  tests/database_manager/test_database.py
Labels: backend, enhancement

#472 F/425 refactor plugin stuff
  hyrisecockpit/frontend/src/components/plugins/PluginsOverview.vue
  hyrisecockpit/frontend/src/services/pluginService.ts
  hyrisecockpit/frontend/src/services/transformationService.ts
Labels: enhancement, frontend

#462 f/add-metric-tests
  hyrisecockpit/frontend/src/components/container/MetricTile.vue
  hyrisecockpit/frontend/src/components/details/MetricDetailedView.vue
  hyrisecockpit/frontend/src/components/details/MetricDetails.vue
  hyrisecockpit/frontend/src/components/metrics/Access.vue
  hyrisecockpit/frontend/src/components/queries/QueryTable.vue
  hyrisecockpit/frontend/src/services/transformationService.ts
  hyrisecockpit/frontend/tests/e2e/setup/factories.ts
  hyrisecockpit/frontend/tests/e2e/setup/helpers.ts
  hyrisecockpit/frontend/tests/e2e/specs/abstractTests.ts
  hyrisecockpit/frontend/tests/e2e/specs/databases/helpers.ts
  hyrisecockpit/frontend/tests/e2e/specs/helpers.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/access.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/cpu.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/helpers.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/latency.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/queryTypeProportion.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/queueLength.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/ram.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/storage.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/throughput.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/workloadMonitoring/helpers.ts
  hyrisecockpit/frontend/tests/e2e/specs/workloadMonitoring/queries.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/workloadMonitoring/queryTypeProportion.spec.ts
Labels: Prio 1, frontend

#473 f/471-adapt-selection
  hyrisecockpit/frontend/src/App.vue
  hyrisecockpit/frontend/src/components/alerts/LinearLoader.vue
  hyrisecockpit/frontend/src/components/alerts/UnselectedWarning.vue
  hyrisecockpit/frontend/src/components/databases/AvailableDatabasesList.vue
  hyrisecockpit/frontend/src/components/details/DatabaseChip.vue
  hyrisecockpit/frontend/src/components/details/MetricChip.vue
  hyrisecockpit/frontend/src/components/plugins/PluginsOverview.vue
  hyrisecockpit/frontend/src/components/selection/DatabaseMetricSelection.vue
  hyrisecockpit/frontend/src/components/selection/DatabaseSelection.vue
  hyrisecockpit/frontend/src/components/selection/MetricSelection.vue
  hyrisecockpit/frontend/src/components/selection/SelectionList.vue
  hyrisecockpit/frontend/src/controller/databaseController.ts
  hyrisecockpit/frontend/src/controller/metricController.ts
  hyrisecockpit/frontend/src/controller/selectionController.ts
  hyrisecockpit/frontend/src/main.ts
  hyrisecockpit/frontend/src/meta/events.ts
  hyrisecockpit/frontend/src/meta/formatting.ts
  hyrisecockpit/frontend/src/meta/selection.ts
  hyrisecockpit/frontend/src/meta/views.ts
  hyrisecockpit/frontend/src/prototypes.d.ts
  hyrisecockpit/frontend/src/types/controller.ts
  hyrisecockpit/frontend/src/types/views.ts
  hyrisecockpit/frontend/src/views/AppDrawer.vue
  hyrisecockpit/frontend/src/views/Instance.vue
  hyrisecockpit/frontend/src/views/InstanceComparison.vue
  hyrisecockpit/frontend/src/views/Overview.vue
  hyrisecockpit/frontend/src/views/WorkloadMonitoring.vue
Labels: Prio 1, enhancement, frontend

#474 U/add multi process wrk plug in
  utils/endpoint_benchmark/argument_parser.py
  utils/endpoint_benchmark/plugins.py
Labels: DevTools, Prio 2

#480 f/478-change-database-remove-icon
  hyrisecockpit/frontend/src/components/databases/AvailableDatabasesList.vue
  hyrisecockpit/frontend/src/components/details/DatabaseChip.vue
Labels: Prio 1, enhancement, frontend

#482 f/479-change-time-interval
  hyrisecockpit/frontend/src/components/charts/Barchart.vue
  hyrisecockpit/frontend/src/meta/components.ts
  hyrisecockpit/frontend/src/meta/metrics.ts
  hyrisecockpit/frontend/src/types/metrics.ts
Labels: Prio 1, enhancement, frontend

#465 B/refactor system data
  hyrisecockpit/backend/app.py
  hyrisecockpit/database_manager/background_scheduler.py
  tests/database_manager/test_background_scheduler.py
Labels: backend, enhancement

#469 b/provide encoding amount and compression type in storage data
  hyrisecockpit/database_manager/background_scheduler.py
  tests/database_manager/test_background_scheduler.py
Labels: backend, enhancement

#485 f/435 adapt treemap to new encoding data
  hyrisecockpit/frontend/src/services/transformationService.ts
  hyrisecockpit/frontend/tests/e2e/setup/factories.ts
Labels: enhancement, frontend

#483 Add frontend to docker-compose.yml
  docker-compose.yml
Labels: DevTools, Prio 2

#487 Introduce dockerignore
  .dockerignore
Labels: DevTools, enhancement

#475 B/add multithreading to thread safe endpoints
  hyrisecockpit/backend/app.py
  hyrisecockpit/backend/cli.py
Labels: Prio 1, backend

#491 F/477 change size and design of navbar
  hyrisecockpit/frontend/src/views/AppDrawer.vue
Labels: Prio 2, frontend

#486 f/add-plugin-tests
  hyrisecockpit/frontend/src/components/plugins/PluginSetting.vue
  hyrisecockpit/frontend/src/components/plugins/PluginsOverview.vue
  hyrisecockpit/frontend/tests/e2e/setup/callbacks.ts
  hyrisecockpit/frontend/tests/e2e/setup/factories.ts
  hyrisecockpit/frontend/tests/e2e/setup/mocks.ts
  hyrisecockpit/frontend/tests/e2e/specs/helpers.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/access.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/cpu.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/latency.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/queryTypeProportion.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/queueLength.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/ram.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/storage.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/throughput.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/plugins/changePlugins.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/plugins/helpers.ts
  hyrisecockpit/frontend/tests/e2e/specs/plugins/plugins.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/workloadMonitoring/queries.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/workloadMonitoring/queryTypeProportion.spec.ts
Labels: Prio 1, frontend

#448 Refactor and test backend API
  .env.example
  Pipfile
  Pipfile.lock
  hyrisecockpit/api/README.md
  hyrisecockpit/api/app/__init__.py
  hyrisecockpit/api/app/control/__init__.py
  hyrisecockpit/api/app/control/app.py
  hyrisecockpit/api/app/monitor/__init__.py
  hyrisecockpit/api/app/monitor/app.py
  hyrisecockpit/api/app/routes.py
  hyrisecockpit/api/app/shared.py
  hyrisecockpit/api/app/workload/__init__.py
  hyrisecockpit/api/app/workload/controller.py
  hyrisecockpit/api/app/workload/interface.py
  hyrisecockpit/api/app/workload/model.py
  hyrisecockpit/api/app/workload/schema.py
  hyrisecockpit/api/app/workload/service.py
  hyrisecockpit/api/wsgi.py
  hyrisecockpit/backend/__init__.py
  hyrisecockpit/backend/cli.py
  hyrisecockpit/response.py
  hyrisecockpit/settings.py
  requirements.txt
  setup.py
  tests/api/workload/__init__.py
  tests/api/workload/data.py
  tests/api/workload/test_controller.py
  tests/api/workload/test_interface.py
  tests/api/workload/test_model.py
  tests/api/workload/test_schema.py
  tests/api/workload/test_service.py
Labels: Prio 1, backend, documentation, enhancement

#492 Provide percent key
  hyrisecockpit/api/app/monitor/app.py
Labels: Prio 0, backend, bug

#461 B/handle hyrise failure
  hyrisecockpit/api/app/monitor/app.py
  hyrisecockpit/database_manager/background_scheduler.py
  hyrisecockpit/database_manager/cursor.py
  hyrisecockpit/database_manager/database.py
  hyrisecockpit/database_manager/manager.py
  hyrisecockpit/database_manager/worker.py
  tests/database_manager/test_background_scheduler.py
  tests/database_manager/test_cursor.py
  tests/database_manager/test_database.py
  tests/database_manager/test_database_manager.py
Labels: Prio 1, backend

#488 Improve build reliability
  .github/CODEOWNERS
  Dockerfile
  docker-compose.yml
  hyrisecockpit/frontend/Dockerfile
Labels: DevTools, Prio 1, bug

#481 B/endpoint to execute queries directly
  hyrisecockpit/api/app/control/app.py
  hyrisecockpit/database_manager/cursor.py
  hyrisecockpit/database_manager/database.py
  hyrisecockpit/database_manager/interfaces.py
  hyrisecockpit/database_manager/manager.py
  tests/database_manager/test_cursor.py
  tests/database_manager/test_database.py
  tests/database_manager/test_database_manager.py
Labels: Prio 1, backend

#507 Fix package
  hyrisecockpit/api/__init__.py
  tests/api/workload/test_schema.py
  tests/api/workload/test_service.py
Labels: Prio 0, backend, bug, dependencies

#508 Add requirements check
  .github/workflows/backend.yml
Labels: Prio 2, backend, dependencies, documentation

#484 B/provide historical data
  Pipfile
  Pipfile.lock
  hyrisecockpit/api/app/monitor/app.py
  hyrisecockpit/database_manager/background_scheduler.py
  requirements-dev.txt
  requirements.txt
  tests/database_manager/test_background_scheduler.py
  tests/database_manager/test_cursor.py
  tests/database_manager/test_database.py
Labels: Prio 1, backend, enhancement

#494 f/move-to-historical-data
  hyrisecockpit/frontend/src/components/selection/SelectionList.vue
  hyrisecockpit/frontend/src/controller/databaseController.ts
  hyrisecockpit/frontend/src/controller/metricController.ts
  hyrisecockpit/frontend/src/helpers/methods.ts
  hyrisecockpit/frontend/src/meta/events.ts
  hyrisecockpit/frontend/src/meta/formatting.ts
  hyrisecockpit/frontend/src/meta/metrics.ts
  hyrisecockpit/frontend/src/services/databaseService.ts
  hyrisecockpit/frontend/src/services/metricService.ts
  hyrisecockpit/frontend/src/services/transformationService.ts
  hyrisecockpit/frontend/src/types/metrics.ts
  hyrisecockpit/frontend/src/types/services.ts
  hyrisecockpit/frontend/tests/e2e/setup/backendMock.ts
  hyrisecockpit/frontend/tests/e2e/setup/factories.ts
  hyrisecockpit/frontend/tests/e2e/setup/helpers.ts
  hyrisecockpit/frontend/tests/e2e/setup/mocks.ts
  hyrisecockpit/frontend/tests/e2e/specs/databases/databases.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/helpers.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/access.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/cpu.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/helpers.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/latency.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/queryTypeProportion.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/queueLength.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/ram.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/storage.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/throughput.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/workloadMonitoring/queryTypeProportion.spec.ts
Labels: Prio 1, enhancement, frontend

#503 f/improve-tests
  hyrisecockpit/frontend/cypress.json
  hyrisecockpit/frontend/src/components/alerts/LinearLoader.vue
  hyrisecockpit/frontend/src/components/databases/AddDatabase.vue
  hyrisecockpit/frontend/src/components/selection/SelectionList.vue
  hyrisecockpit/frontend/src/components/workload/WorkloadGeneration.vue
  hyrisecockpit/frontend/src/views/InstanceComparison.vue
  hyrisecockpit/frontend/src/views/Overview.vue
  hyrisecockpit/frontend/src/views/WorkloadMonitoring.vue
  hyrisecockpit/frontend/tests/e2e/setup/backendMock.ts
  hyrisecockpit/frontend/tests/e2e/setup/callbacks.ts
  hyrisecockpit/frontend/tests/e2e/setup/factories.ts
  hyrisecockpit/frontend/tests/e2e/setup/helpers.ts
  hyrisecockpit/frontend/tests/e2e/setup/mocks.ts
  hyrisecockpit/frontend/tests/e2e/specs/abstractTests.ts
  hyrisecockpit/frontend/tests/e2e/specs/databases/addDatabase.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/databases/databases.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/databases/removeDatabase.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/helpers.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/access.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/cpu.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/helpers.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/historicalData.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/latency.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/queryTypeProportion.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/queueLength.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/ram.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/storage.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/throughput.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/plugins/changePlugins.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/plugins/helpers.ts
  hyrisecockpit/frontend/tests/e2e/specs/plugins/plugins.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/views/helpers.ts
  hyrisecockpit/frontend/tests/e2e/specs/views/loading.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/views/navigation.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/views/selection.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/workloadGeneration/helpers.ts
  hyrisecockpit/frontend/tests/e2e/specs/workloadGeneration/workloadGeneration.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/workloadMonitoring/queries.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/workloadMonitoring/queryTypeProportion.spec.ts
  hyrisecockpit/frontend/tests/e2e/support/commands.js
  hyrisecockpit/frontend/tests/e2e/support/index.d.ts
Labels: Prio 1, frontend

#515 f/add-dev-server
  hyrisecockpit/frontend/devServer/package-lock.json
  hyrisecockpit/frontend/devServer/package.json
  hyrisecockpit/frontend/devServer/src/server.ts
  hyrisecockpit/frontend/devServer/tsconfig.json
  hyrisecockpit/frontend/devServer/tslint.json
Labels: Prio 2, frontend

#514 U/adjust utility tools
  utils/debug_script/debug_script.html
  utils/endpoint_benchmark/plugins.py
Labels: DevTools, Prio 2

#476 F/456-database-colors
  hyrisecockpit/frontend/src/components/databases/AddDatabase.vue
  hyrisecockpit/frontend/src/controller/databaseController.ts
  hyrisecockpit/frontend/src/services/databaseService.ts
  hyrisecockpit/frontend/src/types/database.ts
Labels: bug, enhancement, frontend

#517 F/511 reformat line chart
  hyrisecockpit/frontend/src/components/charts/Barchart.vue
  hyrisecockpit/frontend/src/components/charts/Linechart.vue
  hyrisecockpit/frontend/src/components/container/MetricTile.vue
  hyrisecockpit/frontend/src/components/details/MetricDetails.vue
  hyrisecockpit/frontend/src/components/details/TimeInterval.vue
  hyrisecockpit/frontend/tests/e2e/specs/metrics/cpu.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/latency.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/queueLength.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/ram.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/throughput.spec.ts
Labels: enhancement, frontend

#519 f/510-add-footprint-chart
  hyrisecockpit/frontend/config.ts
  hyrisecockpit/frontend/src/components/container/MetricTile.vue
  hyrisecockpit/frontend/src/components/metrics/MemoryFootprint.vue
  hyrisecockpit/frontend/src/components/metrics/QueryTypeProportion.vue
  hyrisecockpit/frontend/src/controller/metricController.ts
  hyrisecockpit/frontend/src/helpers/methods.ts
  hyrisecockpit/frontend/src/meta/charts.ts
  hyrisecockpit/frontend/src/meta/components.ts
  hyrisecockpit/frontend/src/meta/metrics.ts
  hyrisecockpit/frontend/src/services/metricService.ts
  hyrisecockpit/frontend/src/services/transformationService.ts
  hyrisecockpit/frontend/src/types/charts.ts
  hyrisecockpit/frontend/src/types/metrics.ts
  hyrisecockpit/frontend/src/types/services.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/helpers.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/historicalData.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/memoryFootprint.spec.ts
Labels: Prio 1, enhancement, frontend

#522 f/improve-dev-server
  hyrisecockpit/frontend/README.md
  hyrisecockpit/frontend/devServer/package-lock.json
  hyrisecockpit/frontend/devServer/package.json
  hyrisecockpit/frontend/devServer/src/server.ts
  hyrisecockpit/frontend/devServer/tslint.json
  hyrisecockpit/frontend/tests/e2e/setup/callbacks.ts
  hyrisecockpit/frontend/tests/e2e/setup/factories.ts
  hyrisecockpit/frontend/tests/e2e/setup/mocks.ts
  hyrisecockpit/frontend/tests/e2e/specs/views/helpers.ts
Labels: Prio 2, frontend

#527 Docker/prepare multiple instance one host
  .dockerignore
  Dockerfile
  docker-compose.yml
  hyrise/Dockerfile
  hyrisecockpit/api/Dockerfile
  hyrisecockpit/database_manager/Dockerfile
  hyrisecockpit/frontend/Dockerfile
  hyrisecockpit/workload_generator/Dockerfile
Labels: DevTools, Prio 1, backend

#516 B/remove connection pool and driver
  hyrisecockpit/database_manager/background_scheduler.py
  hyrisecockpit/database_manager/cursor.py
  hyrisecockpit/database_manager/database.py
  hyrisecockpit/database_manager/driver.py
  hyrisecockpit/database_manager/manager.py
  hyrisecockpit/database_manager/worker.py
  hyrisecockpit/database_manager/worker_pool.py
  tests/database_manager/test_background_scheduler.py
  tests/database_manager/test_cursor.py
  tests/database_manager/test_database.py
  tests/database_manager/test_database_manager.py
  tests/database_manager/test_worker_pool.py
Labels: Prio 0, backend, bug

#513 limit fetched plugin log messages
  hyrisecockpit/database_manager/background_scheduler.py
  hyrisecockpit/database_manager/cursor.py
  tests/database_manager/test_background_scheduler.py
  tests/database_manager/test_cursor.py
Labels: backend, enhancement

#528 Add Dockerfile to Codeowners
  .github/CODEOWNERS
Labels: DevTools, Prio 2, bug, documentation

#505 B/control namespace database api refactoring
  hyrisecockpit/api/app/control/__init__.py
  hyrisecockpit/api/app/control/app.py
  hyrisecockpit/api/app/database/__init__.py
  hyrisecockpit/api/app/database/controller.py
  hyrisecockpit/api/app/database/interface.py
  hyrisecockpit/api/app/database/model.py
  hyrisecockpit/api/app/database/schema.py
  hyrisecockpit/api/app/database/service.py
  hyrisecockpit/api/app/routes.py
  hyrisecockpit/api/app/socket_manager.py
  hyrisecockpit/database_manager/manager.py
  tests/api/database/__init__.py
  tests/api/database/test_controller.py
  tests/api/database/test_interface.py
  tests/api/database/test_model.py
  tests/api/database/test_schema.py
  tests/api/database/test_service.py
  tests/api/test_socket_manager.py
  tests/database_manager/test_database_manager.py
Labels: Prio 1, backend

#530 Docker/ Make frontend build more reliable and faster
  docker-compose.yml
  hyrisecockpit/frontend/Dockerfile
  hyrisecockpit/frontend/package.json
Labels: DevTools, Prio 1, frontend

#540 Fix database endpoints
  hyrisecockpit/api/app/database/controller.py
  tests/api/database/test_controller.py
Labels: Prio 0, backend, bug

#543 f/adapt-endpoints
  hyrisecockpit/frontend/devServer/src/server.ts
  hyrisecockpit/frontend/src/controller/metricController.ts
  hyrisecockpit/frontend/src/services/databaseService.ts
  hyrisecockpit/frontend/src/services/metricService.ts
  hyrisecockpit/frontend/src/services/workloadService.ts
  hyrisecockpit/frontend/tests/e2e/setup/backendMock.ts
  hyrisecockpit/frontend/tests/e2e/setup/helpers.ts
  hyrisecockpit/frontend/tests/e2e/setup/mocks.ts
  hyrisecockpit/frontend/tests/e2e/specs/workloadGeneration/workloadGeneration.spec.ts
Labels: Prio 0, enhancement, frontend

#545 f/fix-workload-request
  hyrisecockpit/frontend/config.ts
  hyrisecockpit/frontend/devServer/src/server.ts
  hyrisecockpit/frontend/src/services/workloadService.ts
  hyrisecockpit/frontend/tests/e2e/setup/backendMock.ts
Labels: Prio 0, bug, frontend

#546 B/quick fix update plugin log
  hyrisecockpit/database_manager/background_scheduler.py
Labels: Prio 0, backend, bug

#548 Fix stop workload
  hyrisecockpit/api/app/workload/service.py
  tests/api/workload/test_service.py
Labels: Prio 0, backend, bug

#550 Add update to Workload
  hyrisecockpit/workload_generator/generator.py
  hyrisecockpit/workload_generator/workload.py
Labels: Prio 0, backend, bug

#552 Fix PUT on workload
  hyrisecockpit/workload_generator/generator.py
Labels: Prio 0, backend, bug

#553 Serialize workload object in response
  hyrisecockpit/workload_generator/generator.py
Labels: Prio 0, backend, bug

#554 Update backend min. coverage
  .github/workflows/backend.yml
Labels: DevTools, Prio 2, backend

#551 F/fix-workload-endpoints
  hyrisecockpit/frontend/config.ts
  hyrisecockpit/frontend/src/components/workload/WorkloadGeneration.vue
  hyrisecockpit/frontend/src/services/workloadService.ts
  hyrisecockpit/frontend/src/types/services.ts
  hyrisecockpit/frontend/tests/e2e/specs/workloadGeneration/workloadGeneration.spec.ts
Labels: Prio 0, bug, frontend

#305 B/Add system tests
  system_tests/README.md
  system_tests/__init__.py
  system_tests/cli_backend.py
  system_tests/cli_generator.py
  system_tests/cli_manager.py
  system_tests/cockpit_backend.py
  system_tests/cockpit_generator.py
  system_tests/cockpit_manager.py
  system_tests/env_example
  system_tests/settings.py
  system_tests/test_system.py
Labels: backend

#532 B/Add mac OS X support
  hyrisecockpit/cross_platform_support/multiprocessing_support.py
  hyrisecockpit/cross_platform_support/testing_support.py
  hyrisecockpit/database_manager/background_scheduler.py
  hyrisecockpit/database_manager/worker_pool.py
  tests/database_manager/test_background_scheduler.py
  tests/database_manager/test_worker_pool.py
Labels: Prio 2, backend

#557 f/555 historic data range
  hyrisecockpit/frontend/src/components/charts/Linechart.vue
  hyrisecockpit/frontend/src/components/queries/QueryTable.vue
  hyrisecockpit/frontend/src/components/selection/SelectionList.vue
  hyrisecockpit/frontend/src/controller/metricController.ts
  hyrisecockpit/frontend/src/meta/events.ts
  hyrisecockpit/frontend/src/meta/formatting.ts
  hyrisecockpit/frontend/src/services/metricService.ts
  hyrisecockpit/frontend/src/types/metrics.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/storage.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/workloadMonitoring/queries.spec.ts
Labels: enhancement, frontend

#559 F/443 sql input field
  hyrisecockpit/frontend/src/components/databases/AvailableDatabasesList.vue
  hyrisecockpit/frontend/src/components/databases/SQLEditor.vue
  hyrisecockpit/frontend/src/components/databases/SQLResultTable.vue
  hyrisecockpit/frontend/src/services/databaseService.ts
  hyrisecockpit/frontend/src/types/database.ts
Labels: Prio 2, enhancement, frontend

#542 Refactor sql namespace
  hyrisecockpit/api/app/control/app.py
  hyrisecockpit/api/app/exception.py
  hyrisecockpit/api/app/routes.py
  hyrisecockpit/api/app/sql/__init__.py
  hyrisecockpit/api/app/sql/controller.py
  hyrisecockpit/api/app/sql/interface.py
  hyrisecockpit/api/app/sql/model.py
  hyrisecockpit/api/app/sql/schema.py
  hyrisecockpit/api/app/sql/service.py
  tests/api/sql/test_controller.py
  tests/api/sql/test_interface.py
  tests/api/sql/test_model.py
  tests/api/sql/test_schema.py
  tests/api/sql/test_service.py
Labels: Prio 2, backend

#560 Docker/Update hyrise image, Fix Workload Generation Folder
  .github/CODEOWNERS
  .gitignore
  docker-compose.yml
  hyrise/Dockerfile
  hyrisecockpit/frontend/Dockerfile
Labels: DevTools, backend, bug, dependencies

#566 F/fix adjust to new sql route
  hyrisecockpit/frontend/src/services/databaseService.ts
Labels: Prio 0, enhancement, frontend, good first issue

#533 F/529 change color palette
  hyrisecockpit/frontend/src/components/charts/Heatmap.vue
  hyrisecockpit/frontend/src/components/charts/Treemap.vue
  hyrisecockpit/frontend/src/meta/colors.ts
  hyrisecockpit/frontend/src/meta/metrics.ts
  hyrisecockpit/frontend/src/plugins/vuetify.ts
  hyrisecockpit/frontend/src/services/databaseService.ts
  hyrisecockpit/frontend/src/services/transformationService.ts
Labels: Prio 2, enhancement, frontend

#499 B/adjust backend to work table names
  hyrisecockpit/database_manager/background_scheduler.py
  tests/database_manager/test_background_scheduler.py
Labels: Prio 1, backend

#567 F/444 reduce plotly module size
  hyrisecockpit/frontend/package-lock.json
  hyrisecockpit/frontend/package.json
  hyrisecockpit/frontend/plotlyBundle.ts
  hyrisecockpit/frontend/src/components/charts/Barchart.vue
  hyrisecockpit/frontend/src/components/charts/Heatmap.vue
  hyrisecockpit/frontend/src/components/charts/Linechart.vue
  hyrisecockpit/frontend/src/components/charts/Treemap.vue
  hyrisecockpit/frontend/src/meta/charts.ts
Labels: Performance, dependencies, enhancement, frontend

#536 F/521 improve navigationbar design
  hyrisecockpit/frontend/src/assets/images/hpi_logo_transparent.png
  hyrisecockpit/frontend/src/views/AppDrawer.vue
Labels: Prio 2, enhancement, frontend

#541 f/537-test-consistency
  .github/workflows/frontend.yml
  hyrisecockpit/frontend/config.ts
  hyrisecockpit/frontend/devServer/package.json
  hyrisecockpit/frontend/devServer/src/server.ts
  hyrisecockpit/frontend/package.json
  hyrisecockpit/frontend/src/components/plugins/PluginsLog.vue
  hyrisecockpit/frontend/src/components/plugins/PluginsOverview.vue
  hyrisecockpit/frontend/tests/e2e/setup/backendMock.ts
  hyrisecockpit/frontend/tests/e2e/setup/callbacks.ts
  hyrisecockpit/frontend/tests/e2e/setup/factories.ts
  hyrisecockpit/frontend/tests/e2e/setup/helpers.ts
  hyrisecockpit/frontend/tests/e2e/setup/mocks.ts
  hyrisecockpit/frontend/tests/e2e/specs/databases/addDatabase.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/databases/databases.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/databases/removeDatabase.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/helpers.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/helpers.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/historicalData.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/memoryFootprint.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/plugins/changePlugins.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/plugins/helpers.ts
  hyrisecockpit/frontend/tests/e2e/specs/plugins/plugins.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/views/helpers.ts
  hyrisecockpit/frontend/tests/e2e/specs/views/loading.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/workloadGeneration/workloadGeneration.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/workloadMonitoring/helpers.ts
  hyrisecockpit/frontend/tests/e2e/specs/workloadMonitoring/queries.spec.ts
  hyrisecockpit/frontend/tests/e2e/support/commands.js
  hyrisecockpit/frontend/tests/e2e/support/index.d.ts
Labels: Prio 2, bug, frontend

#558 F/501 adjust to new workload names
  hyrisecockpit/frontend/src/meta/workloads.ts
  hyrisecockpit/frontend/tests/e2e/setup/helpers.ts
  hyrisecockpit/frontend/tests/e2e/specs/workloadMonitoring/helpers.ts
Labels: Prio 1, enhancement, frontend

#569 f/562-treemap-total-size
  hyrisecockpit/frontend/src/components/details/MetricDetails.vue
  hyrisecockpit/frontend/src/components/metrics/Storage.vue
  hyrisecockpit/frontend/src/services/transformationService.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/helpers.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/storage.spec.ts
Labels: Prio 1, enhancement, frontend

#571 f/565-heatmap-equality
  hyrisecockpit/frontend/src/components/charts/Heatmap.vue
  hyrisecockpit/frontend/src/components/metrics/Access.vue
  hyrisecockpit/frontend/src/services/metricService.ts
  hyrisecockpit/frontend/src/services/transformationService.ts
Labels: Prio 1, enhancement, frontend

#573 f/496-variable-precision
  hyrisecockpit/frontend/src/components/charts/Linechart.vue
  hyrisecockpit/frontend/src/components/selection/PrecisionSelection.vue
  hyrisecockpit/frontend/src/components/selection/RangeSelection.vue
  hyrisecockpit/frontend/src/components/selection/SelectionList.vue
  hyrisecockpit/frontend/src/controller/databaseController.ts
  hyrisecockpit/frontend/src/controller/metricController.ts
  hyrisecockpit/frontend/src/controller/selectionController.ts
  hyrisecockpit/frontend/src/main.ts
  hyrisecockpit/frontend/src/meta/components.ts
  hyrisecockpit/frontend/src/meta/events.ts
  hyrisecockpit/frontend/src/meta/formatting.ts
  hyrisecockpit/frontend/src/meta/selection.ts
  hyrisecockpit/frontend/src/prototypes.d.ts
  hyrisecockpit/frontend/src/services/databaseService.ts
  hyrisecockpit/frontend/src/services/metricService.ts
  hyrisecockpit/frontend/src/types/controller.ts
  hyrisecockpit/frontend/src/types/database.ts
  hyrisecockpit/frontend/src/types/metrics.ts
  hyrisecockpit/frontend/src/types/services.ts
  hyrisecockpit/frontend/src/views/WorkloadMonitoring.vue
Labels: Prio 1, enhancement, frontend

#564 B/add time precision
  Pipfile
  Pipfile.lock
  hyrisecockpit/api/app/monitor/app.py
  requirements-dev.txt
  requirements.txt
  system_tests/cockpit_backend.py
  system_tests/env_example
  system_tests/test_system.py
  tests/api/monitor/__init__.py
  tests/api/monitor/test_monitor.py
  tests/api/test_socket_manager.py
  utils/endpoint_benchmark/plugins.py
Labels: backend, enhancement

#531 F/512-improve-ux-on-workload-generation
  hyrisecockpit/frontend/src/components/alerts/StatusWarning.vue
  hyrisecockpit/frontend/src/components/alerts/Warning.vue
  hyrisecockpit/frontend/src/components/queries/DatabaseQueryTables.vue
  hyrisecockpit/frontend/src/components/workload/FrequencyHandler.vue
  hyrisecockpit/frontend/src/components/workload/WorkloadActions.vue
  hyrisecockpit/frontend/src/components/workload/WorkloadDataSelector.vue
  hyrisecockpit/frontend/src/components/workload/WorkloadGeneration.vue
  hyrisecockpit/frontend/src/components/workload/WorkloadSelector.vue
  hyrisecockpit/frontend/src/controller/databaseController.ts
  hyrisecockpit/frontend/src/meta/events.ts
  hyrisecockpit/frontend/src/types/database.ts
  hyrisecockpit/frontend/src/views/InstanceComparison.vue
  hyrisecockpit/frontend/src/views/Overview.vue
  hyrisecockpit/frontend/src/views/WorkloadMonitoring.vue
Labels: Prio 2, enhancement, frontend
