Repository hyrise/Cockpit, pull requests merged in 2020-06, with the labels that each got.

#658 f/556-unique-db-colors
  hyrisecockpit/frontend/src/controller/databaseController.ts
  hyrisecockpit/frontend/src/meta/colors.ts
  hyrisecockpit/frontend/src/services/databaseService.ts
  hyrisecockpit/frontend/src/types/database.ts
Labels: Prio 1, bug, frontend

#657 f/adapt-to-route-changes
  hyrisecockpit/frontend/devServer/src/server.ts
  hyrisecockpit/frontend/src/meta/metrics.ts
  hyrisecockpit/frontend/src/services/transformationService.ts
  hyrisecockpit/frontend/src/types/services.ts
  hyrisecockpit/frontend/tests/e2e/setup/backendMock.ts
  hyrisecockpit/frontend/tests/e2e/setup/factories.ts
  hyrisecockpit/frontend/tests/e2e/setup/helpers.ts
  hyrisecockpit/frontend/tests/e2e/setup/mocks.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/operatorProportion.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/workloadMonitoring/operatorProportion.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/workloadMonitoring/queryTypeProportion.spec.ts
Labels: Prio 1, frontend

#660 Adjust checking default tables
  system_tests/test_system.py
Labels: backend

#648 handle monotonically increasing cpu time values
  hyrisecockpit/database_manager/job/update_system_data.py
Labels: backend, bug

#663 f/661-improve-operator-chart
  hyrisecockpit/frontend/src/services/transformationService.ts
Labels: Prio 1, enhancement, frontend

#659 F/583 improve visibility of database warnings
  hyrisecockpit/frontend/src/components/alerts/StatusWarning.vue
  hyrisecockpit/frontend/src/components/alerts/Warning.vue
  hyrisecockpit/frontend/src/components/workload/WorkloadGeneration.vue
Labels: Prio 2, enhancement, frontend

#662 Revert "handle monotonically increasing cpu time values"
  hyrisecockpit/database_manager/job/sql_to_data_frame.py
  hyrisecockpit/database_manager/job/update_system_data.py
  tests/database_manager/job/test_sql_to_data_frame.py
  tests/database_manager/job/test_update_system_data.py
Labels: backend, bug

#627 F/597-start-multiple-workloads
  hyrisecockpit/frontend/src/components/workload/Equalizer.vue
  hyrisecockpit/frontend/src/components/workload/FrequencyHandler.vue
  hyrisecockpit/frontend/src/components/workload/WorkloadDataSelector.vue
  hyrisecockpit/frontend/src/components/workload/WorkloadGeneration.vue
  hyrisecockpit/frontend/src/components/workload/WorkloadSelector.vue
Labels: Prio 1, enhancement, frontend

#666 Add watchtower directly
  docker-compose.deployment.yml
Labels: DevTools, Prio 2

#671 f/adapt-workload-tests
  hyrisecockpit/frontend/devServer/src/server.ts
  hyrisecockpit/frontend/src/components/queries/QueryTable.vue
  hyrisecockpit/frontend/src/components/workload/Equalizer.vue
  hyrisecockpit/frontend/src/components/workload/WorkloadActions.vue
  hyrisecockpit/frontend/src/components/workload/WorkloadDataSelector.vue
  hyrisecockpit/frontend/src/components/workload/WorkloadGeneration.vue
  hyrisecockpit/frontend/src/components/workload/WorkloadSelector.vue
  hyrisecockpit/frontend/tests/e2e/setup/helpers.ts
  hyrisecockpit/frontend/tests/e2e/specs/helpers.ts
  hyrisecockpit/frontend/tests/e2e/specs/workloadGeneration/helpers.ts
  hyrisecockpit/frontend/tests/e2e/specs/workloadGeneration/workloadGeneration.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/workloadMonitoring/helpers.ts
  hyrisecockpit/frontend/tests/e2e/specs/workloadMonitoring/queries.spec.ts
Labels: Prio 2, frontend

#672 Remove need for Frontend ports & Improve Autoupdate
  docker-compose.deployment.yml
  hyrise/Dockerfile
  hyrise/hooks/build
Labels: DevTools, Prio 2, backend, enhancement
