Repository hyrise/Cockpit, pull requests merged in 2020-03, with the labels that each got.

#404 f/398/plugin setting description
  hyrisecockpit/frontend/src/components/plugins/PluginSetting.vue
  hyrisecockpit/frontend/src/components/plugins/PluginsOverview.vue
Labels: enhancement, frontend

#412 f/408-fix-treemap-values
  hyrisecockpit/frontend/src/services/transformationService.ts
Labels: Prio 1, bug, frontend

#407 f/400-setup-frontend-tests
  .github/workflows/frontend.yml
  hyrisecockpit/frontend/README.md
  hyrisecockpit/frontend/cypress.json
  hyrisecockpit/frontend/package-lock.json
  hyrisecockpit/frontend/package.json
  hyrisecockpit/frontend/src/components/addDatabase.vue
  hyrisecockpit/frontend/src/components/details/AvailableDatabasesList.vue
  hyrisecockpit/frontend/src/components/workload/WorkloadGeneration.vue
  hyrisecockpit/frontend/src/views/AppDrawer.vue
  hyrisecockpit/frontend/tests/e2e/.eslintrc.js
  hyrisecockpit/frontend/tests/e2e/plugins/cy-ts-preprocessor.js
  hyrisecockpit/frontend/tests/e2e/plugins/index.js
  hyrisecockpit/frontend/tests/e2e/setup/backendMock.ts
  hyrisecockpit/frontend/tests/e2e/setup/callbacks.ts
  hyrisecockpit/frontend/tests/e2e/setup/factories.ts
  hyrisecockpit/frontend/tests/e2e/setup/helpers.ts
  hyrisecockpit/frontend/tests/e2e/setup/mocks.ts
  hyrisecockpit/frontend/tests/e2e/specs/databases/addDatabase.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/databases/helpers.ts
  hyrisecockpit/frontend/tests/e2e/specs/helpers.ts
  hyrisecockpit/frontend/tests/e2e/specs/views/abstractTests.ts
  hyrisecockpit/frontend/tests/e2e/specs/views/helpers.ts
  hyrisecockpit/frontend/tests/e2e/specs/views/routing.spec.ts
  hyrisecockpit/frontend/tests/e2e/support/commands.js
  hyrisecockpit/frontend/tests/e2e/support/index.js
  hyrisecockpit/frontend/tests/e2e/tsconfig.json
  hyrisecockpit/frontend/tsconfig.json
Labels: Prio 2, frontend

#415 change color of heatmap
  hyrisecockpit/frontend/src/components/charts/Heatmap.vue
Labels: Prio 2, frontend

#416 f/411-add-timestamp-interval
  hyrisecockpit/frontend/src/components/container/MetricTile.vue
  hyrisecockpit/frontend/src/components/container/MetricsTileList.vue
  hyrisecockpit/frontend/src/components/details/MetricDescriptionTooltip.vue
  hyrisecockpit/frontend/src/components/details/TimeInterval.vue
  hyrisecockpit/frontend/src/components/metrics/Access.vue
  hyrisecockpit/frontend/src/meta/components.ts
  hyrisecockpit/frontend/src/meta/formatting.ts
  hyrisecockpit/frontend/src/meta/metrics.ts
  hyrisecockpit/frontend/src/views/AppDrawer.vue
  hyrisecockpit/frontend/src/views/WorkloadMonitoring.vue
Labels: Prio 1, enhancement, frontend

#420 f/418-add-possibility-to-remove-dbs
  hyrisecockpit/frontend/src/components/databases/AddDatabase.vue
  hyrisecockpit/frontend/src/components/databases/AvailableDatabasesList.vue
  hyrisecockpit/frontend/src/components/databases/RemoveDatabase.vue
  hyrisecockpit/frontend/src/components/details/DatabaseChip.vue
  hyrisecockpit/frontend/src/databaseController.ts
  hyrisecockpit/frontend/src/meta/events.ts
  hyrisecockpit/frontend/src/services/databaseService.ts
  hyrisecockpit/frontend/src/services/pluginService.ts
  hyrisecockpit/frontend/src/types/database.ts
  hyrisecockpit/frontend/src/views/AppDrawer.vue
Labels: Prio 1, enhancement, frontend

#427 f/419-improve-images
  hyrisecockpit/frontend/public/favicon.ico
  hyrisecockpit/frontend/public/hpiIcon.ico
  hyrisecockpit/frontend/public/hyriseIcon.ico
  hyrisecockpit/frontend/public/index.html
  hyrisecockpit/frontend/src/assets/images/hpi_logo_bw.png
  hyrisecockpit/frontend/src/assets/images/hpi_logo_transparent.png
  hyrisecockpit/frontend/src/assets/images/hyrise_logo.png
  hyrisecockpit/frontend/src/assets/logo.png
  hyrisecockpit/frontend/src/assets/logo.svg
  hyrisecockpit/frontend/src/views/AppDrawer.vue
Labels: Prio 2, enhancement, frontend, good first issue

#445 f/423-remove-db-details-scroll
  hyrisecockpit/frontend/src/components/container/MetricsTileList.vue
  hyrisecockpit/frontend/src/components/container/PanelTemplate.vue
  hyrisecockpit/frontend/src/components/databases/AvailableDatabasesList.vue
  hyrisecockpit/frontend/src/components/details/DatabaseDetailsPanel.vue
  hyrisecockpit/frontend/src/components/details/DatabaseSystemDetails.vue
  hyrisecockpit/frontend/src/components/queries/DatabaseQueryTables.vue
  hyrisecockpit/frontend/src/views/Overview.vue
  hyrisecockpit/frontend/src/views/WorkloadMonitoring.vue
Labels: Prio 1, frontend

#447 Move pytest config
  .github/workflows/backend.yml
  pytest.ini
Labels: Prio 2, backend, bug

#405 B/background scheduler tests
  hyrisecockpit/database_manager/background_scheduler.py
  tests/database_manager/test_background_scheduler.py
  tests/database_manager/test_worker.py
Labels: Prio 1, backend, documentation

#385 B/add more tests database
  hyrisecockpit/database_manager/database.py
  tests/database_manager/test_database.py
Labels: Prio 1, backend

#422 F/421 remove chart whitespace
  hyrisecockpit/frontend/src/components/charts/Barchart.vue
  hyrisecockpit/frontend/src/components/charts/Linechart.vue
  hyrisecockpit/frontend/src/components/container/MetricTile.vue
  hyrisecockpit/frontend/src/components/metrics/QueryTypeProportion.vue
Labels: enhancement, frontend, good first issue

#409 B/database manager tests
  hyrisecockpit/database_manager/manager.py
  tests/database_manager/test_database_manager.py
Labels: backend, good first issue

#410 B/workload reader tests
  hyrisecockpit/exception.py
  hyrisecockpit/workload_generator/generator.py
  hyrisecockpit/workload_generator/workload_reader.py
  tests/workload_generator/test_workload_reader.py
Labels: backend, good first issue

#452 f/451-simplify-db-editor
  hyrisecockpit/frontend/src/components/databases/AddDatabase.vue
Labels: enhancement, frontend, good first issue

#454 Update CODEOWNERS
  .github/CODEOWNERS
Labels: Prio 2, documentation

#453 Fix language stats
  .gitattributes
Labels: Prio 2, backend, bug, documentation

#449 f/414-improve-testing-setup
  hyrisecockpit/frontend/src/components/databases/AddDatabase.vue
  hyrisecockpit/frontend/src/components/databases/RemoveDatabase.vue
  hyrisecockpit/frontend/src/components/details/DatabaseChip.vue
  hyrisecockpit/frontend/src/components/details/DatabaseSystemDetails.vue
  hyrisecockpit/frontend/src/views/AppDrawer.vue
  hyrisecockpit/frontend/tests/e2e/setup/backendMock.ts
  hyrisecockpit/frontend/tests/e2e/setup/callbacks.ts
  hyrisecockpit/frontend/tests/e2e/setup/factories.ts
  hyrisecockpit/frontend/tests/e2e/setup/helpers.ts
  hyrisecockpit/frontend/tests/e2e/setup/mocks.ts
  hyrisecockpit/frontend/tests/e2e/specs/abstractTests.ts
  hyrisecockpit/frontend/tests/e2e/specs/databases/addDatabase.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/databases/databases.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/databases/helpers.ts
  hyrisecockpit/frontend/tests/e2e/specs/databases/removeDatabase.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/views/abstractTests.ts
  hyrisecockpit/frontend/tests/e2e/specs/views/navigation.spec.ts
  hyrisecockpit/frontend/tests/e2e/support/commands.js
  hyrisecockpit/frontend/tests/e2e/support/index.d.ts
Labels: Prio 1, frontend

#459 Add missing package
  Pipfile
  Pipfile.lock
  requirements-dev.txt
  requirements.txt
Labels: backend, bug, dependencies

#460 f/ fix timestamps formatting
  hyrisecockpit/frontend/src/components/details/TimeInterval.vue
  hyrisecockpit/frontend/src/services/pluginService.ts
Labels: bug, enhancement, frontend, good first issue

#374 F/348-change-workload-generation-buttons
  hyrisecockpit/frontend/src/components/workload/WorkloadGeneration.vue
  hyrisecockpit/frontend/src/meta/workloads.ts
  hyrisecockpit/frontend/src/services/workloadService.ts
  hyrisecockpit/frontend/src/types/services.ts
Labels: Prio 1, bug, enhancement, frontend

#468 f/402 fix plugin editor crashing for new databases
  hyrisecockpit/frontend/src/components/plugins/PluginsOverview.vue
  hyrisecockpit/frontend/src/services/pluginService.ts
Labels: bug, enhancement, frontend, help wanted
