Repository hyrise/Cockpit, pull requests merged in 2020-07, with the labels that each got.

#675 f/improve-test-structure
  hyrisecockpit/frontend/src/components/alerts/LinearLoader.vue
  hyrisecockpit/frontend/src/components/databases/AddDatabase.vue
  hyrisecockpit/frontend/src/components/databases/AvailableDatabasesList.vue
  hyrisecockpit/frontend/src/components/databases/RemoveDatabase.vue
  hyrisecockpit/frontend/src/components/databases/SQLEditor.vue
  hyrisecockpit/frontend/src/components/details/DatabaseChip.vue
  hyrisecockpit/frontend/src/components/details/DatabaseSystemDetails.vue
  hyrisecockpit/frontend/src/components/details/MetricChip.vue
  hyrisecockpit/frontend/src/components/details/MetricDetailedView.vue
  hyrisecockpit/frontend/src/components/metrics/Access.vue
  hyrisecockpit/frontend/src/components/metrics/Storage.vue
  hyrisecockpit/frontend/src/components/plugins/PluginSetting.vue
  hyrisecockpit/frontend/src/components/plugins/PluginsLog.vue
  hyrisecockpit/frontend/src/components/plugins/PluginsOverview.vue
  hyrisecockpit/frontend/src/components/selection/PrecisionSelection.vue
  hyrisecockpit/frontend/src/components/selection/RangeSelection.vue
  hyrisecockpit/frontend/src/components/selection/SelectionList.vue
  hyrisecockpit/frontend/src/components/selection/TimestampSelection.vue
  hyrisecockpit/frontend/src/components/workload/WorkloadGeneration.vue
  hyrisecockpit/frontend/src/views/AppDrawer.vue
  hyrisecockpit/frontend/src/views/InstanceComparison.vue
  hyrisecockpit/frontend/src/views/Overview.vue
  hyrisecockpit/frontend/src/views/WorkloadMonitoring.vue
  hyrisecockpit/frontend/tests/e2e/setup/backendMock.ts
  hyrisecockpit/frontend/tests/e2e/setup/factories.ts
  hyrisecockpit/frontend/tests/e2e/specs/abstractTests.ts
  hyrisecockpit/frontend/tests/e2e/specs/databases/addDatabase.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/databases/databases.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/databases/helpers.ts
  hyrisecockpit/frontend/tests/e2e/specs/databases/removeDatabase.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/databases/sql.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/helpers.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/abstractTests.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/access.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/cpu.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/helpers.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/latency.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/memoryFootprint.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/operatorProportion.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/queryTypeProportion.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/queueLength.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/ram.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/storage.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/throughput.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/plugins/changePlugins.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/plugins/helpers.ts
  hyrisecockpit/frontend/tests/e2e/specs/plugins/plugins.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/views/continuousRange.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/views/helpers.ts
  hyrisecockpit/frontend/tests/e2e/specs/views/loading.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/views/navigation.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/views/selection.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/views/staticRange.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/workloadGeneration/workloadGeneration.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/workloadMonitoring/operatorProportion.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/workloadMonitoring/queries.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/workloadMonitoring/queryTypeProportion.spec.ts
Labels: Prio 2, frontend

#678 f/update-dependencies
  hyrisecockpit/frontend/package-lock.json
  hyrisecockpit/frontend/package.json
  hyrisecockpit/frontend/plotlyBundle.ts
  hyrisecockpit/frontend/src/components/metrics/Access.vue
  hyrisecockpit/frontend/src/components/selection/SelectionList.vue
  hyrisecockpit/frontend/src/components/workload/Equalizer.vue
  hyrisecockpit/frontend/src/controller/metricController.ts
  hyrisecockpit/frontend/src/controller/selectionController.ts
  hyrisecockpit/frontend/src/meta/charts.ts
  hyrisecockpit/frontend/src/meta/components.ts
  hyrisecockpit/frontend/src/meta/draggable.ts
  hyrisecockpit/frontend/src/services/pluginService.ts
  hyrisecockpit/frontend/src/views/InstanceComparison.vue
  hyrisecockpit/frontend/src/views/Overview.vue
  hyrisecockpit/frontend/src/views/WorkloadMonitoring.vue
  hyrisecockpit/frontend/tests/e2e/setup/helpers.ts
  hyrisecockpit/frontend/tests/e2e/setup/mocks.ts
  hyrisecockpit/frontend/tests/e2e/specs/databases/databases.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/databases/sql.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/plugins/changePlugins.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/plugins/plugins.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/workloadGeneration/workloadGeneration.spec.ts
Labels: dependencies, frontend

#680 f/679-cpu-linechart-bug
  hyrisecockpit/frontend/src/services/transformationService.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/cpu.spec.ts
Labels: bug, enhancement, frontend

#695 F/fix-workload-settings-and-equalizer
  hyrisecockpit/frontend/src/components/workload/Equalizer.vue
  hyrisecockpit/frontend/src/components/workload/FrequencyHandler.vue
  hyrisecockpit/frontend/src/components/workload/WorkloadSelector.vue
Labels: bug, frontend

#642 B/status information namespace refactoring
  hyrisecockpit/api/app/connection_manager.py
  hyrisecockpit/api/app/monitor/app.py
  hyrisecockpit/api/app/routes.py
  hyrisecockpit/api/app/status/__init__.py
  hyrisecockpit/api/app/status/controller.py
  hyrisecockpit/api/app/status/model.py
  hyrisecockpit/api/app/status/schema.py
  hyrisecockpit/api/app/status/service.py
  hyrisecockpit/database_manager/manager.py
  hyrisecockpit/database_manager/worker.py
  system_tests/test_system.py
  tests/api/status/test_status_controller.py
  tests/api/status/test_status_model.py
  tests/api/status/test_status_schema.py
  tests/api/status/test_status_service.py
  tests/database_manager/test_database_manager.py
Labels: Prio 2, backend, documentation

#673 B/load already loaded plugin
  hyrisecockpit/database_manager/database.py
  system_tests/test_system.py
  tests/database_manager/test_database.py
Labels: backend

#694 f/686-disable-zoom
  hyrisecockpit/frontend/src/components/charts/Barchart.vue
  hyrisecockpit/frontend/src/components/charts/Heatmap.vue
  hyrisecockpit/frontend/src/components/charts/Linechart.vue
  hyrisecockpit/frontend/src/components/charts/Treemap.vue
Labels: Prio 1, enhancement, frontend

#698 F/change-status-requests
  hyrisecockpit/frontend/config.ts
  hyrisecockpit/frontend/devServer/src/server.ts
  hyrisecockpit/frontend/src/components/workload/WorkloadDataSelector.vue
  hyrisecockpit/frontend/src/components/workload/WorkloadGeneration.vue
  hyrisecockpit/frontend/src/services/workloadService.ts
  hyrisecockpit/frontend/src/types/services.ts
  hyrisecockpit/frontend/tests/e2e/setup/backendMock.ts
  hyrisecockpit/frontend/tests/e2e/setup/factories.ts
  hyrisecockpit/frontend/tests/e2e/setup/helpers.ts
  hyrisecockpit/frontend/tests/e2e/setup/mocks.ts
  hyrisecockpit/frontend/tests/e2e/specs/workloadGeneration/workloadGeneration.spec.ts
Labels: frontend

#701 f/692-pre-select-access
  hyrisecockpit/frontend/src/components/metrics/Access.vue
  hyrisecockpit/frontend/src/meta/events.ts
  hyrisecockpit/frontend/src/services/transformationService.ts
  hyrisecockpit/frontend/tests/e2e/setup/factories.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/access.spec.ts
Labels: Prio 1, enhancement, frontend

#696 F/689-remove-pause-button-in-workload-settings
  hyrisecockpit/frontend/src/components/workload/WorkloadActions.vue
  hyrisecockpit/frontend/src/components/workload/WorkloadGeneration.vue
  hyrisecockpit/frontend/src/views/AppDrawer.vue
  hyrisecockpit/frontend/tests/e2e/specs/workloadGeneration/helpers.ts
  hyrisecockpit/frontend/tests/e2e/specs/workloadGeneration/workloadGeneration.spec.ts
Labels: Prio 2, enhancement, frontend

#699 B/adjust plugin log
  hyrisecockpit/database_manager/job/update_plugin_log.py
  tests/database_manager/job/test_update_plugin_log.py
Labels: backend

#704 f/676-fix-db-value-bug
  hyrisecockpit/frontend/src/controller/databaseController.ts
Labels: Prio 1, bug, frontend

#683 F/667-Unify close buttons and design
  hyrisecockpit/frontend/src/App.vue
  hyrisecockpit/frontend/src/components/databases/AddDatabase.vue
  hyrisecockpit/frontend/src/components/databases/AvailableDatabasesList.vue
  hyrisecockpit/frontend/src/components/databases/SQLEditor.vue
  hyrisecockpit/frontend/src/components/details/DatabaseChip.vue
  hyrisecockpit/frontend/src/components/details/MetricDetailedView.vue
  hyrisecockpit/frontend/src/components/metrics/Storage.vue
  hyrisecockpit/frontend/src/components/plugins/PluginsOverview.vue
  hyrisecockpit/frontend/src/components/selection/DatabaseSelection.vue
  hyrisecockpit/frontend/src/components/selection/MetricSelection.vue
  hyrisecockpit/frontend/src/components/selection/SelectionList.vue
Labels: frontend

#706 f/fix-ram-value
  hyrisecockpit/frontend/src/services/transformationService.ts
  hyrisecockpit/frontend/tests/e2e/setup/factories.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/ram.spec.ts
Labels: Prio 1, bug, frontend

#705 f/687-scroll-plugin-logs
  hyrisecockpit/frontend/src/components/plugins/PluginsLog.vue
  hyrisecockpit/frontend/src/components/plugins/PluginsOverview.vue
Labels: Prio 2, enhancement, frontend

#702 F/691 change navbar and comparison page design
  hyrisecockpit/frontend/src/components/charts/Barchart.vue
  hyrisecockpit/frontend/src/components/charts/Heatmap.vue
  hyrisecockpit/frontend/src/components/charts/Linechart.vue
  hyrisecockpit/frontend/src/components/container/MetricTile.vue
  hyrisecockpit/frontend/src/components/container/MetricsComparisonTable.vue
  hyrisecockpit/frontend/src/components/container/MetricsTileList.vue
  hyrisecockpit/frontend/src/components/details/DatabaseSystemDetails.vue
  hyrisecockpit/frontend/src/components/details/MetricDetailedView.vue
  hyrisecockpit/frontend/src/components/details/MetricDetails.vue
  hyrisecockpit/frontend/src/components/details/TimeInterval.vue
  hyrisecockpit/frontend/src/components/metrics/Access.vue
  hyrisecockpit/frontend/src/components/metrics/Storage.vue
  hyrisecockpit/frontend/src/meta/colors.ts
  hyrisecockpit/frontend/src/plugins/vuetify.ts
  hyrisecockpit/frontend/src/views/AppDrawer.vue
Labels: Prio 1, frontend

#700 F/688-change-dialog-for-adding-databases
  hyrisecockpit/frontend/src/components/databases/AddDatabase.vue
  hyrisecockpit/frontend/src/components/databases/AvailableDatabasesList.vue
  hyrisecockpit/frontend/src/components/databases/SQLEditor.vue
  hyrisecockpit/frontend/tests/e2e/specs/databases/addDatabase.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/databases/helpers.ts
  hyrisecockpit/frontend/tests/e2e/specs/databases/removeDatabase.spec.ts
Labels: Prio 2, enhancement, frontend

#594 B/refactor monitor namespace
  hyrisecockpit/api/app/database/service.py
  hyrisecockpit/api/app/historical_data_handling.py
  hyrisecockpit/api/app/metric/__init__.py
  hyrisecockpit/api/app/metric/controller.py
  hyrisecockpit/api/app/metric/model.py
  hyrisecockpit/api/app/metric/schema.py
  hyrisecockpit/api/app/metric/service.py
  hyrisecockpit/api/app/monitor/app.py
  hyrisecockpit/api/app/plugin/service.py
  hyrisecockpit/api/app/routes.py
  hyrisecockpit/api/app/socket_manager.py
  hyrisecockpit/api/app/sql/service.py
  hyrisecockpit/api/app/workload/service.py
  system_tests/cockpit_backend.py
  system_tests/test_system.py
  tests/api/metric/test_metric_controller.py
  tests/api/metric/test_metric_model.py
  tests/api/metric/test_metric_schema.py
  tests/api/metric/test_metric_service.py
  tests/api/monitor/__init__.py
  tests/api/test_connection_manager.py
  tests/api/test_historical_data_handling.py
Labels: Prio 2, backend

#711 f/adapt-to-metric-namespace
  hyrisecockpit/frontend/config.ts
  hyrisecockpit/frontend/devServer/src/helpers.ts
  hyrisecockpit/frontend/devServer/src/server.ts
  hyrisecockpit/frontend/src/meta/metrics.ts
  hyrisecockpit/frontend/src/services/queryService.ts
  hyrisecockpit/frontend/tests/e2e/setup/backendMock.ts
  hyrisecockpit/frontend/tests/e2e/setup/helpers.ts
Labels: Prio 1, frontend

#708 F/685-add-status-messages-for-adding-databases
  hyrisecockpit/frontend/src/components/databases/AddDatabase.vue
  hyrisecockpit/frontend/src/services/databaseService.ts
  hyrisecockpit/frontend/src/types/database.ts
  hyrisecockpit/frontend/tests/e2e/specs/databases/addDatabase.spec.ts
Labels: Prio 1, enhancement, frontend

#714 F/712 fix ui bugs
  hyrisecockpit/frontend/src/components/charts/Heatmap.vue
  hyrisecockpit/frontend/src/components/container/MetricTile.vue
  hyrisecockpit/frontend/src/components/container/MetricsComparisonTable.vue
  hyrisecockpit/frontend/src/components/databases/AvailableDatabasesList.vue
  hyrisecockpit/frontend/src/components/databases/RemoveDatabase.vue
  hyrisecockpit/frontend/src/components/databases/SQLEditor.vue
  hyrisecockpit/frontend/src/components/details/MetricDetailedView.vue
  hyrisecockpit/frontend/src/components/metrics/Access.vue
  hyrisecockpit/frontend/src/views/AppDrawer.vue
  hyrisecockpit/frontend/tests/e2e/specs/databases/helpers.ts
  hyrisecockpit/frontend/tests/e2e/specs/databases/sql.spec.ts
Labels: bug, frontend

#719 f/710 change home screen
  hyrisecockpit/frontend/src/plugins/vueRouter.ts
  hyrisecockpit/frontend/src/views/Home.vue
Labels: Prio 1, enhancement, frontend

#730 Upgrade Python to 3.8.5
  .github/workflows/backend.yml
  Pipfile
  Pipfile.lock
  README.md
  hyrisecockpit/api/Dockerfile
  hyrisecockpit/api/app/database/controller.py
  hyrisecockpit/api/app/metric/controller.py
  hyrisecockpit/api/app/plugin/controller.py
  hyrisecockpit/api/app/routes.py
  hyrisecockpit/api/app/sql/controller.py
  hyrisecockpit/api/app/workload/controller.py
  hyrisecockpit/cross_platform_support/multiprocessing_support.py
  hyrisecockpit/database_manager/Dockerfile
  hyrisecockpit/workload_generator/Dockerfile
  requirements-dev.txt
  requirements.txt
  tests/api/sql/test_service.py
  tests/database_manager/test_database.py
  tests/database_manager/test_worker_pool.py
Labels: Prio 0, backend, bug, dependencies

#713 F/703 change design of workload analysis page
  hyrisecockpit/frontend/src/components/container/MetricTile.vue
  hyrisecockpit/frontend/src/components/container/MetricsComparisonTable.vue
  hyrisecockpit/frontend/src/components/details/DatabaseSystemDetails.vue
  hyrisecockpit/frontend/src/components/metrics/QueryInformation.vue
  hyrisecockpit/frontend/src/components/queries/DatabaseQueryTables.vue
  hyrisecockpit/frontend/src/components/queries/QueryTable.vue
  hyrisecockpit/frontend/src/meta/colors.ts
  hyrisecockpit/frontend/src/meta/metrics.ts
  hyrisecockpit/frontend/src/services/queryService.ts
  hyrisecockpit/frontend/src/services/transformationService.ts
  hyrisecockpit/frontend/src/types/charts.ts
  hyrisecockpit/frontend/src/types/metrics.ts
  hyrisecockpit/frontend/src/types/queries.ts
  hyrisecockpit/frontend/src/types/services.ts
  hyrisecockpit/frontend/src/types/views.ts
  hyrisecockpit/frontend/src/views/InstanceComparison.vue
  hyrisecockpit/frontend/src/views/Overview.vue
  hyrisecockpit/frontend/src/views/WorkloadMonitoring.vue
  hyrisecockpit/frontend/tests/e2e/setup/factories.ts
  hyrisecockpit/frontend/tests/e2e/setup/helpers.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/helpers.ts
  hyrisecockpit/frontend/tests/e2e/specs/views/helpers.ts
  hyrisecockpit/frontend/tests/e2e/specs/workloadMonitoring/queries.spec.ts
Labels: enhancement, frontend

#697 F/690-improve-equalizer
  hyrisecockpit/frontend/src/components/workload/QueryWeights.vue
  hyrisecockpit/frontend/src/components/workload/WorkloadGeneration.vue
Labels: Prio 1, enhancement, frontend

#709 F/change time picker and adapt design
  hyrisecockpit/frontend/src/components/container/MetricsTileList.vue
  hyrisecockpit/frontend/src/components/selection/DatabaseSelection.vue
  hyrisecockpit/frontend/src/components/selection/MetricSelection.vue
  hyrisecockpit/frontend/src/components/selection/PrecisionSelection.vue
  hyrisecockpit/frontend/src/components/selection/RangeSelection.vue
  hyrisecockpit/frontend/src/components/selection/SelectionList.vue
  hyrisecockpit/frontend/src/components/selection/TimestampSelection.vue
  hyrisecockpit/frontend/tests/e2e/specs/views/continuousRange.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/views/staticRange.spec.ts
Labels: Prio 1, enhancement, frontend

#723 B/fix chunks data
  hyrisecockpit/api/app/historical_data_handling.py
  hyrisecockpit/api/app/metric/service.py
  hyrisecockpit/database_manager/background_scheduler.py
  hyrisecockpit/database_manager/database.py
  hyrisecockpit/database_manager/job/update_chunks_data.py
  hyrisecockpit/database_manager/job/update_queue_length.py
  hyrisecockpit/database_manager/job/update_system_data.py
  tests/api/metric/test_metric_service.py
  tests/database_manager/job/test_update_chunks_data.py
  tests/database_manager/job/test_update_queue_length.py
  tests/database_manager/job/test_update_system_data.py
Labels: backend, bug

#718 Log queries in the background
  hyrisecockpit/database_manager/worker.py
Labels: backend, enhancement

#724 F/586-disable-adding-a-database-when-workers-are-running
  hyrisecockpit/frontend/src/components/databases/AddDatabase.vue
  hyrisecockpit/frontend/src/components/workload/WorkloadGeneration.vue
  hyrisecockpit/frontend/src/services/workloadService.ts
  hyrisecockpit/frontend/src/types/services.ts
  hyrisecockpit/frontend/src/views/AppDrawer.vue
  hyrisecockpit/frontend/tests/e2e/setup/factories.ts
  hyrisecockpit/frontend/tests/e2e/setup/mocks.ts
Labels: bug, frontend

#727 F/693 add and improve tooltips
  hyrisecockpit/frontend/src/App.vue
  hyrisecockpit/frontend/src/components/databases/AddDatabase.vue
  hyrisecockpit/frontend/src/components/databases/AvailableDatabasesList.vue
  hyrisecockpit/frontend/src/components/details/DatabaseChip.vue
  hyrisecockpit/frontend/src/components/details/MetricChip.vue
  hyrisecockpit/frontend/src/components/workload/WorkloadDataSelector.vue
  hyrisecockpit/frontend/src/components/workload/WorkloadSelector.vue
  hyrisecockpit/frontend/src/views/AppDrawer.vue
Labels: enhancement, frontend

#732 f/improve-read-me
  .env.example
  hyrisecockpit/frontend/.env.example
  hyrisecockpit/frontend/README.md
  hyrisecockpit/frontend/config.ts
Labels: Prio 1, enhancement

#731 f/demo-fixes
  hyrisecockpit/frontend/src/components/plugins/PluginsLog.vue
  hyrisecockpit/frontend/src/components/selection/SelectionList.vue
  hyrisecockpit/frontend/src/meta/colors.ts
  hyrisecockpit/frontend/src/meta/components.ts
  hyrisecockpit/frontend/src/services/metricService.ts
  hyrisecockpit/frontend/tests/e2e/specs/plugins/plugins.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/views/helpers.ts
Labels: Prio 0, bug, frontend
