Repository hyrise/Cockpit, pull requests merged in 2020-08, with the labels that each got.

#734 f/fix-config
  hyrisecockpit/frontend/.env.example
  hyrisecockpit/frontend/config.ts
  hyrisecockpit/frontend/package.json
  hyrisecockpit/frontend/scripts/read-url.sh
  hyrisecockpit/frontend/scripts/reset-config.sh
Labels: Prio 0, bug, frontend

#729 F/726-rename-table-names-in-frontend
  hyrisecockpit/frontend/src/components/metrics/Access.vue
  hyrisecockpit/frontend/src/meta/workloads.ts
  hyrisecockpit/frontend/src/services/transformationService.ts
Labels: Prio 1, enhancement, frontend

#728 B/segment configurations
  hyrisecockpit/api/app/monitor/app.py
  hyrisecockpit/database_manager/background_scheduler.py
  hyrisecockpit/database_manager/job/update_segment_configuration.py
Labels: backend, enhancement

#682 f/681 improve linechart plugin logs
  hyrisecockpit/frontend/src/components/charts/Linechart.vue
  hyrisecockpit/frontend/src/components/container/MetricTile.vue
  hyrisecockpit/frontend/src/components/container/MetricsComparisonTable.vue
  hyrisecockpit/frontend/src/components/metrics/CPU.vue
  hyrisecockpit/frontend/src/components/metrics/Latency.vue
  hyrisecockpit/frontend/src/components/metrics/MemoryFootprint.vue
  hyrisecockpit/frontend/src/components/metrics/QueueLength.vue
  hyrisecockpit/frontend/src/components/metrics/RAM.vue
  hyrisecockpit/frontend/src/components/metrics/Throughput.vue
  hyrisecockpit/frontend/src/components/plugins/PluginLogPopup.vue
  hyrisecockpit/frontend/src/services/pluginService.ts
  hyrisecockpit/frontend/src/types/metrics.ts
Labels: enhancement, frontend

#656 Refactor Plugin Log
  hyrisecockpit/api/app/control/__init__.py
  hyrisecockpit/api/app/control/app.py
  hyrisecockpit/api/app/plugin/controller.py
  hyrisecockpit/api/app/plugin/interface.py
  hyrisecockpit/api/app/plugin/model.py
  hyrisecockpit/api/app/plugin/schema.py
  hyrisecockpit/api/app/plugin/service.py
  hyrisecockpit/api/app/routes.py
  system_tests/cockpit_backend.py
  system_tests/test_system.py
  tests/api/plugin/conftest.py
  tests/api/plugin/test_controller.py
  tests/api/plugin/test_interface.py
  tests/api/plugin/test_model.py
  tests/api/plugin/test_schema.py
  tests/api/plugin/test_service.py
Labels: Prio 1, backend, enhancement

#733 F/adapt-frontend-to-tpcc
  hyrisecockpit/frontend/devServer/src/helpers.ts
  hyrisecockpit/frontend/devServer/src/server.ts
  hyrisecockpit/frontend/src/components/workload/FrequencyHandler.vue
  hyrisecockpit/frontend/src/components/workload/QueryWeights.vue
  hyrisecockpit/frontend/src/components/workload/WorkloadDataSelector.vue
  hyrisecockpit/frontend/src/components/workload/WorkloadGeneration.vue
  hyrisecockpit/frontend/src/components/workload/WorkloadSelector.vue
  hyrisecockpit/frontend/src/meta/workloads.ts
  hyrisecockpit/frontend/src/services/transformationService.ts
  hyrisecockpit/frontend/src/services/workloadService.ts
  hyrisecockpit/frontend/src/types/services.ts
  hyrisecockpit/frontend/src/types/workloads.ts
  hyrisecockpit/frontend/tests/e2e/setup/backendMock.ts
  hyrisecockpit/frontend/tests/e2e/setup/factories.ts
  hyrisecockpit/frontend/tests/e2e/setup/helpers.ts
  hyrisecockpit/frontend/tests/e2e/setup/mocks.ts
  hyrisecockpit/frontend/tests/e2e/specs/workloadGeneration/helpers.ts
  hyrisecockpit/frontend/tests/e2e/specs/workloadGeneration/workloadGeneration.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/workloadMonitoring/helpers.ts
Labels: Prio 1, enhancement, frontend

#735 B/adjust detailed query information
  hyrisecockpit/api/app/metric/service.py
Labels: backend, bug

#740 fix logs
  hyrisecockpit/frontend/src/services/pluginService.ts
  hyrisecockpit/frontend/src/services/transformationService.ts
  hyrisecockpit/frontend/tests/e2e/setup/factories.ts
  hyrisecockpit/frontend/tests/e2e/specs/plugins/helpers.ts
Labels: Prio 0, bug, frontend

#741 B/add negative throughput
  hyrisecockpit/api/app/metric/controller.py
  hyrisecockpit/api/app/metric/model.py
  hyrisecockpit/api/app/metric/schema.py
  hyrisecockpit/api/app/metric/service.py
  hyrisecockpit/database_manager/database.py
  tests/database_manager/test_database.py
Labels: backend, enhancement

#717 f/add-negative-throughput-chart
  hyrisecockpit/frontend/devServer/src/server.ts
  hyrisecockpit/frontend/src/components/container/MetricTile.vue
  hyrisecockpit/frontend/src/components/metrics/NegativeThroughput.vue
  hyrisecockpit/frontend/src/meta/metrics.ts
  hyrisecockpit/frontend/src/services/transformationService.ts
  hyrisecockpit/frontend/src/types/metrics.ts
  hyrisecockpit/frontend/tests/e2e/setup/backendMock.ts
  hyrisecockpit/frontend/tests/e2e/setup/helpers.ts
  hyrisecockpit/frontend/tests/e2e/setup/mocks.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/helpers.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/negativeThroughput.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/views/helpers.ts
Labels: Prio 1, enhancement, frontend

#744 Add module init file
  hyrisecockpit/api/app/database/service.py
  hyrisecockpit/database_manager/database.py
  hyrisecockpit/drivers/__init__.py
  hyrisecockpit/workload_generator/generator.py
  tests/drivers/test_connector.py
  tests/workload_generator/test_generator.py
Labels: backend, bug

#721 f/add-segment-heatmap
  hyrisecockpit/frontend/devServer/src/server.ts
  hyrisecockpit/frontend/src/components/charts/Heatmap.vue
  hyrisecockpit/frontend/src/components/container/MetricTile.vue
  hyrisecockpit/frontend/src/components/container/Row.vue
  hyrisecockpit/frontend/src/components/details/MetricDetailedView.vue
  hyrisecockpit/frontend/src/components/metrics/Access.vue
  hyrisecockpit/frontend/src/components/metrics/SegmentConfiguration.vue
  hyrisecockpit/frontend/src/components/metrics/Storage.vue
  hyrisecockpit/frontend/src/meta/colors.ts
  hyrisecockpit/frontend/src/meta/components.ts
  hyrisecockpit/frontend/src/meta/metrics.ts
  hyrisecockpit/frontend/src/services/transformationService.ts
  hyrisecockpit/frontend/src/types/metrics.ts
  hyrisecockpit/frontend/src/types/services.ts
  hyrisecockpit/frontend/src/views/AppDrawer.vue
  hyrisecockpit/frontend/tests/e2e/setup/backendMock.ts
  hyrisecockpit/frontend/tests/e2e/setup/factories.ts
  hyrisecockpit/frontend/tests/e2e/setup/helpers.ts
  hyrisecockpit/frontend/tests/e2e/setup/mocks.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/helpers.ts
Labels: Prio 1, enhancement, frontend

#745 Add inits files for drivers.
  hyrisecockpit/drivers/__default__/__init__.py
  hyrisecockpit/drivers/__default__/default_workload.py
  hyrisecockpit/drivers/job/__init__.py
  hyrisecockpit/drivers/job/job_driver.py
  hyrisecockpit/drivers/tpcc/__init__.py
  hyrisecockpit/drivers/tpcc/tpcc_driver.py
  hyrisecockpit/drivers/tpcds/__init__.py
  hyrisecockpit/drivers/tpcds/tpcds_driver.py
  hyrisecockpit/drivers/tpch/__init__.py
  hyrisecockpit/drivers/tpch/tpch_driver.py
  tests/drivers/__default__/test_default_workload.py
  tests/drivers/test_job.py
  tests/drivers/test_tpcc_driver.py
  tests/drivers/test_tpcds.py
  tests/drivers/test_tpch.py
Labels: backend, bug

#747 Improve docker setup
  .env.example
  .github/workflows/docker.yml
  MANIFEST.in
  docker-compose.ci.yml
  docker-compose.deployment.yml
  docker-compose.yml
  hyrise/Dockerfile
  hyrise/hooks/build
  hyrise/tpcc_table_generation_sf_1.sql
  hyrise/tpcc_table_generation_sf_5.sql
  hyrisecockpit/Dockerfile
  hyrisecockpit/api/Dockerfile
  hyrisecockpit/database_manager/Dockerfile
  hyrisecockpit/frontend/Dockerfile
  hyrisecockpit/run_backend.py
  hyrisecockpit/settings.py
  setup.py
Labels: deployment
