Repository hyrise/Cockpit, pull requests merged in 2020-05, with the labels that each got.

#579 f/remove-unused-code
  hyrisecockpit/frontend/src/components/container/MetricTile.vue
  hyrisecockpit/frontend/src/components/details/MetricDescriptionTooltip.vue
  hyrisecockpit/frontend/src/components/details/TimeInterval.vue
  hyrisecockpit/frontend/src/controller/databaseController.ts
  hyrisecockpit/frontend/src/controller/selectionController.ts
  hyrisecockpit/frontend/src/helpers/testData.ts
  hyrisecockpit/frontend/src/meta/components.ts
  hyrisecockpit/frontend/src/meta/metrics.ts
  hyrisecockpit/frontend/src/meta/views.ts
  hyrisecockpit/frontend/src/plugins/vueRouter.ts
  hyrisecockpit/frontend/src/types/metrics.ts
  hyrisecockpit/frontend/src/types/views.ts
  hyrisecockpit/frontend/src/utils/methods.ts
  hyrisecockpit/frontend/src/views/Instance.vue
Labels: Prio 1, bug, frontend

#578 f/fix-precision
  hyrisecockpit/frontend/src/components/selection/PrecisionSelection.vue
  hyrisecockpit/frontend/src/components/selection/RangeSelection.vue
  hyrisecockpit/frontend/src/controller/metricController.ts
  hyrisecockpit/frontend/src/meta/formatting.ts
  hyrisecockpit/frontend/src/services/metricService.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/helpers.ts
Labels: Prio 0, bug, frontend

#580 Remove table name cache
  hyrisecockpit/database_manager/background_scheduler.py
  hyrisecockpit/database_manager/database.py
  hyrisecockpit/database_manager/manager.py
  system_tests/test_system.py
  tests/database_manager/test_background_scheduler.py
  tests/database_manager/test_database.py
  tests/database_manager/test_database_manager.py
Labels: backend, bug

#575 f/add-missing-tests
  hyrisecockpit/frontend/devServer/src/server.ts
  hyrisecockpit/frontend/src/components/databases/SQLEditor.vue
  hyrisecockpit/frontend/tests/e2e/setup/backendMock.ts
  hyrisecockpit/frontend/tests/e2e/setup/helpers.ts
  hyrisecockpit/frontend/tests/e2e/specs/databases/databases.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/databases/helpers.ts
  hyrisecockpit/frontend/tests/e2e/specs/databases/sql.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/helpers.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/timeAdaption.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/views/helpers.ts
Labels: Prio 2, frontend

#495 provide renaming tool
  utils/benchmark_renaming_tool/README.md
  utils/benchmark_renaming_tool/rename_argument_parser.py
  utils/benchmark_renaming_tool/rename_tables.py
  utils/benchmark_renaming_tool/replacer.py
Labels: Prio 2, backend, enhancement

#570 B/refactor background scheduler
  hyrisecockpit/database_manager/background_scheduler.py
  hyrisecockpit/database_manager/cursor.py
  hyrisecockpit/database_manager/database.py
  hyrisecockpit/database_manager/job/interfaces.py
  hyrisecockpit/database_manager/job/ping_hyrise.py
  hyrisecockpit/database_manager/job/sql_to_data_frame.py
  hyrisecockpit/database_manager/job/update_chunks_data.py
  hyrisecockpit/database_manager/job/update_krueger_data.py
  hyrisecockpit/database_manager/job/update_plugin_log.py
  hyrisecockpit/database_manager/job/update_queue_length.py
  hyrisecockpit/database_manager/job/update_storage_data.py
  hyrisecockpit/database_manager/job/update_system_data.py
  tests/database_manager/job/test_ping_hyrise.py
  tests/database_manager/job/test_sql_to_data_frame.py
  tests/database_manager/job/test_update_chunks_data.py
  tests/database_manager/job/test_update_plugin_log.py
  tests/database_manager/job/test_update_queue_length.py
  tests/database_manager/job/test_update_storage_data.py
  tests/database_manager/job/test_update_system_data.py
  tests/database_manager/test_background_scheduler.py
  tests/database_manager/test_cursor.py
  tests/database_manager/test_database.py
Labels: Prio 2, backend

#590 add init.py for background scheduler jobs
  hyrisecockpit/database_manager/job/__init__.py
Labels: backend, bug

#592 B/fix storage factory
  hyrisecockpit/database_manager/cursor.py
  hyrisecockpit/database_manager/database.py
  tests/database_manager/test_cursor.py
Labels: backend, bug

#500 f/440 plugin activity in charts
  hyrisecockpit/frontend/src/components/charts/Linechart.vue
  hyrisecockpit/frontend/src/components/metrics/CPU.vue
  hyrisecockpit/frontend/src/components/metrics/Latency.vue
  hyrisecockpit/frontend/src/components/metrics/MemoryFootprint.vue
  hyrisecockpit/frontend/src/components/metrics/QueueLength.vue
  hyrisecockpit/frontend/src/components/metrics/RAM.vue
  hyrisecockpit/frontend/src/components/metrics/Throughput.vue
  hyrisecockpit/frontend/src/meta/components.ts
  hyrisecockpit/frontend/src/meta/formatting.ts
  hyrisecockpit/frontend/src/services/pluginService.ts
  hyrisecockpit/frontend/src/services/transformationService.ts
  hyrisecockpit/frontend/src/types/metrics.ts
  hyrisecockpit/frontend/src/types/services.ts
Labels: enhancement, frontend

#588 f/587-split-plugin-service
  hyrisecockpit/frontend/devServer/src/server.ts
  hyrisecockpit/frontend/src/components/plugins/PluginSetting.vue
  hyrisecockpit/frontend/src/components/plugins/PluginsOverview.vue
  hyrisecockpit/frontend/src/controller/pluginController.ts
  hyrisecockpit/frontend/src/main.ts
  hyrisecockpit/frontend/src/meta/components.ts
  hyrisecockpit/frontend/src/prototypes.d.ts
  hyrisecockpit/frontend/src/services/pluginService.ts
  hyrisecockpit/frontend/src/services/transformationService.ts
  hyrisecockpit/frontend/src/types/controller.ts
  hyrisecockpit/frontend/src/types/database.ts
  hyrisecockpit/frontend/src/types/metrics.ts
  hyrisecockpit/frontend/src/types/services.ts
Labels: Prio 2, enhancement, frontend

#581 F/574-running-workload-indicator
  hyrisecockpit/frontend/src/components/workload/FrequencyHandler.vue
  hyrisecockpit/frontend/src/components/workload/WorkloadActions.vue
  hyrisecockpit/frontend/src/components/workload/WorkloadGeneration.vue
  hyrisecockpit/frontend/src/components/workload/WorkloadSelector.vue
Labels: Prio 1, enhancement, frontend

#585 F/fix-status-request-handling
  hyrisecockpit/frontend/src/components/workload/WorkloadGeneration.vue
Labels: Prio 0, bug, frontend

#584 B/separate workload execution
  hyrisecockpit/api/app/workload/service.py
  system_tests/cockpit_backend.py
  system_tests/test_system.py
  tests/api/workload/test_service.py
Labels: backend, enhancement

#595 F/start-and-stop-worker
  hyrisecockpit/frontend/devServer/src/server.ts
  hyrisecockpit/frontend/src/components/workload/WorkloadGeneration.vue
  hyrisecockpit/frontend/src/services/workloadService.ts
  hyrisecockpit/frontend/src/types/services.ts
  hyrisecockpit/frontend/tests/e2e/setup/backendMock.ts
  hyrisecockpit/frontend/tests/e2e/setup/helpers.ts
  hyrisecockpit/frontend/tests/e2e/specs/workloadGeneration/workloadGeneration.spec.ts
Labels: enhancement, frontend

#593 Adjust default table names
  .env.example
  hyrisecockpit/settings.py
Labels: Prio 0, backend, bug

#589 B/Finish refactor background scheduler
  hyrisecockpit/database_manager/background_scheduler.py
  hyrisecockpit/database_manager/job/activate_plugin.py
  hyrisecockpit/database_manager/job/deactivate_plugin.py
  hyrisecockpit/database_manager/job/delete_tables.py
  hyrisecockpit/database_manager/job/execute_queries_parallel.py
  hyrisecockpit/database_manager/job/get_loaded_tables.py
  hyrisecockpit/database_manager/job/load_tables.py
  tests/database_manager/job/test_activate_plugin.py
  tests/database_manager/job/test_deactivate_plugin.py
  tests/database_manager/job/test_delete_tables.py
  tests/database_manager/job/test_execute_queries_parallel.py
  tests/database_manager/job/test_get_loaded_tables.py
  tests/database_manager/job/test_load_tables.py
  tests/database_manager/job/test_ping_hyrise.py
  tests/database_manager/test_background_scheduler.py
Labels: Prio 2, backend

#603 Fix database handling
  hyrisecockpit/api/app/database/service.py
  tests/api/database/test_service.py
Labels: backend, bug

#606 Docker/add auto build
  .github/workflows/docker.yml
  .github/workflows/release.yml
  docker-compose copy.yml
  docker-compose.ci.yml
  docker-compose.deployment.yml
Labels: DevTools, backend, enhancement, frontend

#609 Autobuild images with environment secrets
  .github/workflows/release.yml
Labels: DevTools, Prio 1, enhancement

#607 f/599-static-time-ranges
  hyrisecockpit/frontend/src/App.vue
  hyrisecockpit/frontend/src/components/charts/Linechart.vue
  hyrisecockpit/frontend/src/components/container/MetricsComparisonTable.vue
  hyrisecockpit/frontend/src/components/details/TimeInterval.vue
  hyrisecockpit/frontend/src/components/selection/PrecisionSelection.vue
  hyrisecockpit/frontend/src/components/selection/RangeSelection.vue
  hyrisecockpit/frontend/src/components/selection/SelectionList.vue
  hyrisecockpit/frontend/src/components/selection/TimestampSelection.vue
  hyrisecockpit/frontend/src/controller/metricController.ts
  hyrisecockpit/frontend/src/controller/selectionController.ts
  hyrisecockpit/frontend/src/meta/events.ts
  hyrisecockpit/frontend/src/meta/formatting.ts
  hyrisecockpit/frontend/src/services/metricService.ts
  hyrisecockpit/frontend/src/types/controller.ts
  hyrisecockpit/frontend/src/types/services.ts
  hyrisecockpit/frontend/src/utils/methods.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/timeAdaption.spec.ts
Labels: Prio 1, enhancement, frontend

#612 Docker/auto release
  docker-compose.ci.yml
  docker-compose.deployment.yml
  docker-compose.yml
  hyrise/Dockerfile
Labels: DevTools, Prio 1, backend, enhancement, frontend

#601 Adjust system tests
  system_tests/cockpit_backend.py
  system_tests/test_system.py
Labels: backend

#523 F/489 change distinctness of databases on comparison page
  hyrisecockpit/frontend/src/components/container/MetricTile.vue
  hyrisecockpit/frontend/src/components/container/MetricsComparisonTable.vue
  hyrisecockpit/frontend/src/components/container/MetricsTileList.vue
  hyrisecockpit/frontend/src/components/container/PanelTemplate.vue
  hyrisecockpit/frontend/src/components/details/DatabaseDetailsPanel.vue
  hyrisecockpit/frontend/src/components/details/DatabaseSystemDetails.vue
  hyrisecockpit/frontend/src/components/details/TimeInterval.vue
  hyrisecockpit/frontend/src/meta/charts.ts
  hyrisecockpit/frontend/src/views/AppDrawer.vue
  hyrisecockpit/frontend/src/views/InstanceComparison.vue
  hyrisecockpit/frontend/src/views/Overview.vue
  hyrisecockpit/frontend/tests/e2e/specs/databases/databases.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/databases/helpers.ts
Labels: Prio 1, frontend

#608 F/518 improve metrics naming and design
  hyrisecockpit/frontend/src/components/metrics/QueryTypeProportion.vue
  hyrisecockpit/frontend/src/meta/formatting.ts
  hyrisecockpit/frontend/src/meta/metrics.ts
Labels: Prio 2, enhancement, frontend

#625 f/600-change-y-axis
  hyrisecockpit/frontend/src/meta/metrics.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/throughput.spec.ts
Labels: Prio 1, enhancement, frontend

#622 f/621-broken-selection-list
  hyrisecockpit/frontend/src/components/details/DatabaseChip.vue
  hyrisecockpit/frontend/src/components/details/MetricChip.vue
  hyrisecockpit/frontend/src/components/selection/SelectionList.vue
  hyrisecockpit/frontend/src/meta/selection.ts
Labels: Prio 0, bug, frontend

#620 f/598-fix-overlapping-data
  hyrisecockpit/frontend/src/services/metricService.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/helpers.ts
Labels: Prio 1, bug, frontend

#615 include log level
  hyrisecockpit/api/app/control/app.py
  hyrisecockpit/database_manager/cursor.py
  hyrisecockpit/database_manager/job/update_plugin_log.py
  tests/database_manager/job/test_update_plugin_log.py
  tests/database_manager/test_cursor.py
Labels: backend, enhancement

#626 B/adjust system data
  hyrisecockpit/api/app/monitor/app.py
  hyrisecockpit/database_manager/job/update_system_data.py
  tests/database_manager/job/test_update_system_data.py
Labels: Prio 0, backend, bug, enhancement

#623 Autobuild image to branch
  .github/workflows/docker.yml
Labels: DevTools, Prio 1, enhancement

#629 f/fix-ram-percent
  hyrisecockpit/frontend/src/services/transformationService.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/ram.spec.ts
Labels: Prio 0, bug, frontend

#628 fix bug - broken metric tile
  hyrisecockpit/frontend/src/components/charts/Treemap.vue
  hyrisecockpit/frontend/src/components/metrics/Storage.vue
Labels: Prio 1, bug, frontend

#618 f/add-static-range-tests
  hyrisecockpit/frontend/src/components/selection/TimestampSelection.vue
  hyrisecockpit/frontend/tests/e2e/specs/metrics/helpers.ts
  hyrisecockpit/frontend/tests/e2e/specs/views/continuousRange.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/views/helpers.ts
  hyrisecockpit/frontend/tests/e2e/specs/views/staticRange.spec.ts
Labels: Prio 2, frontend

#631 B/adjust plugin log
  hyrisecockpit/api/app/control/app.py
  hyrisecockpit/database_manager/job/update_plugin_log.py
  tests/database_manager/job/test_update_plugin_log.py
Labels: backend, bug

#635 Change query for getting loaded tables
  hyrisecockpit/database_manager/database.py
  hyrisecockpit/database_manager/job/get_loaded_tables.py
  tests/database_manager/test_database.py
Labels: backend, bug

#636 Adjust system tests to the new plugin settings
  system_tests/test_system.py
Labels: backend

#632 f/630-improve-time-picker
  hyrisecockpit/frontend/src/components/selection/SelectionList.vue
  hyrisecockpit/frontend/src/components/selection/TimestampSelection.vue
  hyrisecockpit/frontend/src/meta/formatting.ts
  hyrisecockpit/frontend/src/utils/methods.ts
  hyrisecockpit/frontend/tests/e2e/setup/factories.ts
  hyrisecockpit/frontend/tests/e2e/specs/views/helpers.ts
  hyrisecockpit/frontend/tests/e2e/specs/views/staticRange.spec.ts
Labels: Prio 1, bug, enhancement, frontend

#624 Provide operator data
  hyrisecockpit/api/app/monitor/app.py
  hyrisecockpit/database_manager/background_scheduler.py
  hyrisecockpit/database_manager/job/update_operator_data.py
  system_tests/test_system.py
  tests/database_manager/job/test_update_operator_data.py
  tests/database_manager/test_background_scheduler.py
Labels: backend, enhancement

#640 B/add real kruegerdata
  hyrisecockpit/api/app/monitor/app.py
  hyrisecockpit/database_manager/background_scheduler.py
  hyrisecockpit/database_manager/job/update_krueger_data.py
  tests/database_manager/job/test_update_krueger_data.py
Labels: backend, enhancement

#646 Update Python
  .github/workflows/backend.yml
  Pipfile
  Pipfile.lock
  README.md
  docker-compose.yml
  hyrisecockpit/api/Dockerfile
  hyrisecockpit/database_manager/Dockerfile
  hyrisecockpit/workload_generator/Dockerfile
  requirements-dev.txt
  requirements.txt
Labels: Prio 0, backend, dependencies

#641 F/617 add running workload indicator
  hyrisecockpit/frontend/src/components/container/MetricTile.vue
  hyrisecockpit/frontend/src/components/container/MetricsComparisonTable.vue
  hyrisecockpit/frontend/src/components/workload/WorkloadGeneration.vue
  hyrisecockpit/frontend/src/views/AppDrawer.vue
Labels: Prio 1, enhancement, frontend

#649 Change workload weights from int to float
  hyrisecockpit/api/app/workload/interface.py
  hyrisecockpit/api/app/workload/model.py
  hyrisecockpit/api/app/workload/schema.py
  hyrisecockpit/workload_generator/workload.py
  tests/api/workload/data.py
  tests/api/workload/test_interface.py
  tests/api/workload/test_model.py
  tests/api/workload/test_schema.py
  tests/workload_generator/test_workload.py
Labels: Prio 1, backend

#651 f/change-config
  hyrisecockpit/frontend/.env.example
  hyrisecockpit/frontend/README.md
  hyrisecockpit/frontend/config.ts
  hyrisecockpit/frontend/package.json
  hyrisecockpit/frontend/scripts/read-url.sh
  hyrisecockpit/frontend/scripts/start-dev.sh
Labels: Prio 1, enhancement, frontend

#604 F/539-add-equalizer-to-workload-generation
  hyrisecockpit/frontend/src/components/workload/Equalizer.vue
  hyrisecockpit/frontend/src/components/workload/FrequencyHandler.vue
  hyrisecockpit/frontend/src/components/workload/WorkloadGeneration.vue
  hyrisecockpit/frontend/src/services/workloadService.ts
  hyrisecockpit/frontend/src/types/services.ts
  hyrisecockpit/frontend/tests/e2e/specs/workloadGeneration/workloadGeneration.spec.ts
Labels: Prio 1, enhancement, frontend

#652 f/fix-env
  hyrisecockpit/frontend/scripts/read-url.sh
Labels: Prio 0, bug, frontend

#644 Docker/ Build non-natively for broader CPU support
  hyrise/Dockerfile
Labels: DevTools, Prio 0

#563 Refactor plugin route
  hyrisecockpit/api/app/control/app.py
  hyrisecockpit/api/app/plugin/__init__.py
  hyrisecockpit/api/app/plugin/controller.py
  hyrisecockpit/api/app/plugin/interface.py
  hyrisecockpit/api/app/plugin/model.py
  hyrisecockpit/api/app/plugin/schema.py
  hyrisecockpit/api/app/plugin/service.py
  hyrisecockpit/api/app/routes.py
  hyrisecockpit/database_manager/database.py
  hyrisecockpit/database_manager/manager.py
  hyrisecockpit/message.py
  tests/api/database/test_model.py
  tests/api/database/test_schema.py
  tests/api/plugin/__init__.py
  tests/api/plugin/conftest.py
  tests/api/plugin/test_controller.py
  tests/api/plugin/test_interface.py
  tests/api/plugin/test_model.py
  tests/api/plugin/test_schema.py
  tests/api/plugin/test_service.py
  tests/api/sql/__init__.py
  tests/api/workload/test_interface.py
  tests/api/workload/test_model.py
  tests/api/workload/test_schema.py
  tests/database_manager/test_database.py
  tests/database_manager/test_database_manager.py
Labels: Prio 1, backend, documentation

#638 f/637 fix comparison screen
  hyrisecockpit/frontend/src/components/charts/Linechart.vue
  hyrisecockpit/frontend/src/components/container/MetricTile.vue
  hyrisecockpit/frontend/src/components/container/MetricsComparisonTable.vue
  hyrisecockpit/frontend/src/components/details/DatabaseChip.vue
  hyrisecockpit/frontend/src/components/details/DatabaseSystemDetails.vue
  hyrisecockpit/frontend/src/components/details/MetricDetails.vue
  hyrisecockpit/frontend/src/components/metrics/CPU.vue
  hyrisecockpit/frontend/src/components/metrics/Latency.vue
  hyrisecockpit/frontend/src/components/metrics/MemoryFootprint.vue
  hyrisecockpit/frontend/src/components/metrics/QueueLength.vue
  hyrisecockpit/frontend/src/components/metrics/RAM.vue
  hyrisecockpit/frontend/src/components/metrics/Storage.vue
  hyrisecockpit/frontend/src/components/metrics/Throughput.vue
  hyrisecockpit/frontend/src/types/metrics.ts
Labels: bug, enhancement, frontend

#654 B/adjust system tests to the new plugin routes
  hyrisecockpit/database_manager/database.py
  system_tests/.env_example
  system_tests/cockpit_backend.py
  system_tests/settings.py
  system_tests/test_system.py
  tests/database_manager/test_database.py
Labels: backend, bug

#647 F/614 adapt to new plugin route
  hyrisecockpit/frontend/devServer/src/server.ts
  hyrisecockpit/frontend/src/components/plugins/PluginSetting.vue
  hyrisecockpit/frontend/src/controller/pluginController.ts
  hyrisecockpit/frontend/src/services/pluginService.ts
  hyrisecockpit/frontend/src/types/controller.ts
  hyrisecockpit/frontend/src/types/services.ts
  hyrisecockpit/frontend/tests/e2e/setup/backendMock.ts
  hyrisecockpit/frontend/tests/e2e/setup/factories.ts
  hyrisecockpit/frontend/tests/e2e/setup/helpers.ts
  hyrisecockpit/frontend/tests/e2e/setup/mocks.ts
  hyrisecockpit/frontend/tests/e2e/specs/plugins/changePlugins.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/plugins/helpers.ts
  hyrisecockpit/frontend/tests/e2e/specs/plugins/plugins.spec.ts
Labels: enhancement, frontend

#650 f/645-adjust-query-type-chart
  hyrisecockpit/frontend/src/components/container/MetricsComparisonTable.vue
  hyrisecockpit/frontend/src/components/queries/DatabaseQueryTables.vue
  hyrisecockpit/frontend/src/meta/formatting.ts
  hyrisecockpit/frontend/src/meta/metrics.ts
  hyrisecockpit/frontend/src/services/transformationService.ts
  hyrisecockpit/frontend/src/types/metrics.ts
  hyrisecockpit/frontend/src/types/views.ts
  hyrisecockpit/frontend/src/views/WorkloadMonitoring.vue
  hyrisecockpit/frontend/tests/e2e/setup/factories.ts
  hyrisecockpit/frontend/tests/e2e/setup/mocks.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/helpers.ts
  hyrisecockpit/frontend/tests/e2e/specs/metrics/operatorProportion.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/views/helpers.ts
  hyrisecockpit/frontend/tests/e2e/specs/views/selection.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/workloadMonitoring/helpers.ts
  hyrisecockpit/frontend/tests/e2e/specs/workloadMonitoring/operatorProportion.spec.ts
  hyrisecockpit/frontend/tests/e2e/specs/workloadMonitoring/queryTypeProportion.spec.ts
Labels: Prio 1, enhancement, frontend

#653 B/adjust operator data
  hyrisecockpit/api/app/monitor/app.py
  hyrisecockpit/database_manager/background_scheduler.py
  hyrisecockpit/database_manager/job/update_workload_operator_information.py
  hyrisecockpit/database_manager/job/update_workload_statement_information.py
  system_tests/test_system.py
  tests/database_manager/job/test_update_operator_data.py
  tests/database_manager/job/test_update_workload_operator_information.py
  tests/database_manager/job/test_update_workload_statement_information.py
  tests/database_manager/test_background_scheduler.py
Labels: backend
